[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>
<BOUCLE_titre(ARTICLES){id_article}>#SET{titre_article,#TITRE}</BOUCLE_titre>
<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|texte_backend)][ - (#VAL{Boîte à questions, réponses}|texte_backend)][ - (#GET{titre_article}|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	[<description>(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)</description>]
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{width})</width>]
	</image>
]
#SET{secteur_module,#ID_RUBRIQUE}
<BOUCLE_reponses(FORUMS){id_article?}{id_secteur=#ID_RUBRIQUE}{plat}{!par date}{0,10}>
	<item[ xml:lang="(#LANG)"]>
		<title>[R&#233;ponse de (#AUTEUR)][R&#233;ponse de (#AUTEUR|non) Anonyme]</title>
		<link>[(#URL_ARTICLE|url_absolue)]</link>
		[<guid isPermaLink="true">(#URL_ARTICLE|url_absolue)</guid>]
		[<dc:date>(#DATE|date_iso)</dc:date>]
		<dc:format>text/html</dc:format>
		[<dc:language>(#LANG)</dc:language>]
		[<dc:creator>(#AUTEUR|supprimer_tags|texte_backend)</dc:creator>]

[(#REM) Le bloc qui suit diffuse la rubrique a la mode RSS]

<BOUCLE_rubrique_rss(RUBRIQUES){id_rubrique=#GET{secteur_module}}>[<category[ domain="(#URL_PAGE{questions}|url_absolue)"]>(#TITRE|supprimer_numero|texte_backend)</category>]</BOUCLE_rubrique_rss>

		<description>[(#INTRODUCTION|texte_backend)]

[(#REM)	Le bloc qui suit diffuse la rubrique sous forme de "microformats"]

<BOUCLE_rubrique_mf(RUBRIQUES){id_rubrique=#GET{secteur_module}}>
[&lt;a href="[(#URL_PAGE{questions}|url_absolue)]" rel="directory"&gt;(#TITRE|supprimer_numero|texte_backend)&lt;/a&gt;]
</BOUCLE_rubrique_mf>

		</description>

		<content:encoded>
		[&lt;div class='rss_texte'&gt;(#TEXTE|image_reduire{500,0}|texte_backend)&lt;/div&gt;]
		</content:encoded>

	</item>
</BOUCLE_reponses>



</channel>

</rss>