<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{portail}">
		[(#CHEMIN{logos/portail.png}|image_sepia{#EXPLOS_COULEUR_LOGO{#ENV{module}}}|inserer_attribut{alt,Portail des explorateurs})]
		<span class="logo-titre">
			<strong>Portail</strong> des explorateurs
		</span>
		<span class="logo-description">
			L'envie de découvrir
		</span>
	</a>
</div><!-- #entete-logo -->

