<BOUCLE_aut(AUTEURS){id_auteur}>
[(#EMAIL|email_valide|oui)
<div class="nav nav-auteur nav-liste-actions">
	<a href="[(#URL_PAGE{ecrire_auteur}|parametre_url{id_auteur,#ENV{id_auteur}})]" class="nyroceros">
	[(#CHEMIN{pictos/outils/courrier.png}|image_reduire{60}|inserer_attribut{alt,<:explos:ecrire_auteur:>})]
	<strong><:explos:ecrire_auteur:></strong>
	</a>
</div>
]
</BOUCLE_aut>

<INCLURE{fond=defaut/inc-nav-login}{module} />
