#CACHE{3600}
[(#REM) Plugin SpipBB - Licence GPL]
<BOUCLE_article_principal(ARTICLES){id_article}>
[(#REM) On recupere le mot cle ferme]
#SET{id_mot_ferme,#CONFIG{spipbb/id_mot_ferme}}


		[(#REM) On regarde si le forum n'est pas ferme ]
		#SET{forumferme,0}
		<BOUCLE_etat(ARTICLES){id_article}{id_mot=#GET{id_mot_ferme}}>
			#SET{forumferme,1}
			[(#REM) h.26/09 .. maintenance ]
			#SET{maintenance,#ID_ARTICLE|spipbb_maintenance}
		</BOUCLE_etat>

		[(#REM) ligne chemin ]
		[(#MODELE{chemin_hierarchie}{id_article}{encours=#ENV{id_article}})]


		[(#SET{affbouton,[(#GET{forumferme}|=={1}|?{' ',
			<ul class="actionforum">
				<li class="poster">
					<a href="[(#URL_PAGE{poster})]&amp;[(#PARAMETRES_FORUM)]" title="<:spipbb:sujet_nouveau:>">
					[<img src="(#CHEMIN{images/poster.png})" width="30" height="15" />]
					</a>
				</li>
			</ul>
		})]
		})]
		#GET{affbouton}

		<div class="[(#EDIT{titre}) ]titre_actif">[(#TITRE|supprimer_numero)]</div>


[(#REM) v.0.5 affichage moderateurs ]
[(#MODELE{moderateurs_ligne}{id_article})]

		<table class="spipforum" id="article_forum">
			<tr>
				<th colspan="2"><:spipbb:sujet_s:></th>
				<th><:spipbb:reponse_s_:></th>
				<th><:spipbb:auteur:></th>
				<th><:spipbb:visites:></th>
				<th><:spipbb:messages_derniers:></th>
			</tr>

			[(#REM) message art ferme|maintenance ]
			[(#GET{forumferme}|=={1}|?{' ',''})
				<tr class="forum_clos"><td colspan='6'>
				[(#GET{maintenance}|=={1}|?{<:spipbb:forum_maintenance:>,<:spipbb:forum_ferme:>})]
				</td></tr>
			]


		<BOUCLE_message_annonce(FORUMS){id_article}{id_mot=#CONFIG{spipbb/id_mot_annonce}}{!par date_thread}{doublons ann}>

			<!-- C est forcement un pied de discussion -->
			#SET{id_fo_ann,#ID_FORUM}

			<!-- BEGIN topicrow -->
			<tr class="ligne_annonce">
				<td class="etatsujet sujetannonce"><span><:spipbb:annonce:></span>&nbsp;</td>
				<td class="titreforum" id="forum#ID_FORUM">
					<span><:spipbb:annonce_dpt:></span>
					<a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#ID_FORUM})]">#TITRE</a>
				</td>
				<td class="nbr_post">
					<BOUCLE_reponses01(FORUMS){id_thread}{plat}{exclus}></BOUCLE_reponses01>
					#TOTAL_BOUCLE
					<//B_reponses01>
				</td>
	  			<td class="auteur_post">
				[(#REM) c.23/12/7 on passe par la page profile]
					<B_auteurpa><BOUCLE_auteurpa(AUTEURS){id_auteur}{tout}>
						<a href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]">#NOM</a>
					</BOUCLE_auteurpa>
					</B_auteurpa>
					[(#NOM|sinon{<:spipbb:anonyme:>})]
					<//B_auteurpa>
				</td>
				<td class="nbr_post">
					[(#SET{tot_visites,0})]
					<BOUCLE_vues_a(VISITES_FORUMS){id_forum}>[(#SET{tot_visites,#GET{'tot_visites'}|plus{#VISITES}})]</BOUCLE_vues_a>
					[(#GET{'tot_visites'})]
				</td>
				<td class="dernier_msg">
					<BOUCLE_dernier_message01(FORUMS){id_thread}{plat}{!par date}{0,1}>
				  		[(#DATE|affdate{'d/m/Y'}),] [(#DATE|heures)]:[(#DATE|minutes)<br />]
						<:spipbb:par_:>
						<B_auteurpar>
						[(#REM) c.23/12/7 on passe par la page profile]
						<BOUCLE_auteurpar(AUTEURS){id_auteur}{tout}>
							<a
							[(#SPIPBB{annuaire_forum}|!={'non'}|?{' ',''})
							 href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]"
							]
							>#NOM</a>
						</BOUCLE_auteurpar>
						</B_auteurpar>
							[(#NOM|sinon{<:spipbb:anonyme:>})]
						<//B_auteurpar>
						<a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#GET{id_fo_ann}})]#forum#ID_FORUM" class="adermsg" title="<:spipbb:messages_voir_dernier:>">
						&nbsp;<span>(<:spipbb:messages_voir_dernier:>)</span>
						</a>
					</BOUCLE_dernier_message01> - <//B_dernier_message01>
				</td>
			</tr>
		</BOUCLE_message_annonce>

		<BOUCLE_message_postit(FORUMS){id_article}{id_mot=#CONFIG{spipbb/id_mot_postit}}{!par date_thread}{doublons ann}>

			<!-- C est forcement un pied de discussion -->
			#SET{id_fo_ann,#ID_FORUM}

			<!-- BEGIN topicrow -->
			<tr class="ligne_postit">
				<td class="etatsujet sujetpostit"><span><:spipbb:postit:></span>&nbsp;</td>
				<td class="titreforum" id="forum#ID_FORUM">
					<span><:spipbb:postit_dpt:></span>
					<a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#ID_FORUM})]">#TITRE</a>
				</td>
				<td class="nbr_post">
					<BOUCLE_reponses02(FORUMS){id_thread}{plat}{exclus}></BOUCLE_reponses02>
					#TOTAL_BOUCLE
					<//B_reponses02>
				</td>
	  			<td class="auteur_post">
					[(#REM) c.23/12/7 on passe par la page profile]
					<B_auteurpp><BOUCLE_auteurpp(AUTEURS){id_auteur}{tout}>
						<a href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]">#NOM</a>
					</BOUCLE_auteurpp>
					</B_auteurpp>
					[(#NOM|sinon{<:spipbb:anonyme:>})]
					<//B_auteurpp>
				</td>
				<td class="nbr_post">
					[(#SET{tot_visites,0})]
					<BOUCLE_vues_p(VISITES_FORUMS){id_forum}>[(#SET{tot_visites,#GET{'tot_visites'}|plus{#VISITES}})]</BOUCLE_vues_p>
					[(#GET{'tot_visites'})]
				</td>
				<td class="dernier_msg">
					<BOUCLE_dernier_message02(FORUMS){id_thread}{plat}{!par date}{0,1}>
				  		[(#DATE|affdate{'d/m/Y'}),] [(#DATE|heures)]:[(#DATE|minutes)<br />]
						<:spipbb:par_:>
						<B_auteurparp>
						[(#REM) c.23/12/7 on passe par la page profile]
						<BOUCLE_auteurparp(AUTEURS){id_auteur}{tout}>
							<a
							[(#SPIPBB{annuaire_forum}|!={'non'}|?{' ',''})
							 href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]"
							]
							>#NOM</a>
						</BOUCLE_auteurparp>
						</B_auteurparp>
							[(#NOM|sinon{<:spipbb:anonyme:>})]
						<//B_auteurparp>
						<a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#GET{id_fo_ann}})]#forum#ID_FORUM" class="adermsg" title="<:spipbb:messages_voir_dernier:>">
						&nbsp;<span>(<:spipbb:messages_voir_dernier:>)</span>
						</a>
					</BOUCLE_dernier_message02> - <//B_dernier_message02>
				</td>
			</tr>
		</BOUCLE_message_postit>

		<BOUCLE_messages(FORUMS){id_article}{plat}{!par date_thread}{pagination #CONFIG{spipbb/fixlimit}}>

		<!-- sujets ...................... -->
		<BOUCLE_sujet(FORUMS){id_thread}{doublons ann}>
			#SET{thread_clos,non}
			#SET{id_forum,#ID_FORUM}

				<BOUCLE_reponsesalt(FORUMS){id_thread}{plat}>
					<BOUCLE_reponse_fermealt(FORUMS){id_forum}{titre_mot=ferme}>
						#SET{thread_clos,#ID_FORUM}
					</BOUCLE_reponse_fermealt>
				</BOUCLE_reponsesalt>


			[(#REM) test type icone ligne ]
			[(#SET{aff_ico_thread,[(#GET{thread_clos}|=={non}|?{
			<td class='etatsujet post'><span>&nbsp;,<td class='etatsujet postferme'><span>&nbsp;
			})]
			})]

			<tr class="ligne_sujet">
				[(#REM) affiche icone ligne ]
				[(#GET{aff_ico_thread})]
				</span>
				</td>
				<td class="titreforum" id="forum#ID_FORUM">
					<div class="[(#EDIT{titre})]"><a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#ID_FORUM})]">#TITRE</a></div>
				</td>
				<td class="nbr_post">
					<BOUCLE_reponses(FORUMS){id_thread}{plat}{exclus}></BOUCLE_reponses>
					#TOTAL_BOUCLE
					<//B_reponses>
				</td>
				<td class="auteur_post">
					<B_auteurp>[(#REM) c.23/12/7 on passe par la page profile]
					<BOUCLE_auteurp(AUTEURS){id_auteur}{tout}>
						<a
						[(#SPIPBB{annuaire_forum}|!={'non'}|?{' ',''})
						 href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]"
						]
						>#NOM</a>
					</BOUCLE_auteurp>
					</B_auteurp>
						[(#NOM|sinon{<:spipbb:anonyme:>})]
					<//B_auteurp>
				</td>
				<td class="nbr_post">
					[(#SET{tot_visites,0})]
					<BOUCLE_vues(VISITES_FORUMS){id_forum}>[(#SET{tot_visites,#GET{'tot_visites'}|plus{#VISITES}})]</BOUCLE_vues>
					[(#GET{'tot_visites'})]
				</td>
				<td class="dernier_msg">
					<BOUCLE_dernier_message(FORUMS){id_thread}{plat}{!par date}{0,1}>
						[(#DATE|affdate{'d/m/Y'})] [ - (#DATE|heures)]:[(#DATE|minutes)]<br />
						<:spipbb:par_:>[(#REM) c.23/12/7 on passe par la page profile]
						<BOUCLE_auteurpr(AUTEURS){id_auteur}{tout}>
							<a
							[(#SPIPBB{annuaire_forum}|!={'non'}|?{' ',''})
							 href="[(#URL_PAGE{profile}|parametre_url{id_auteur,#ID_AUTEUR}|parametre_url{id_rubrique,#ID_RUBRIQUE}|parametre_url{id_article,#ID_ARTICLE})]"
							]
							>#NOM</a>
						</BOUCLE_auteurpr>
						</B_auteurpr>
							[(#NOM|sinon{<:spipbb:anonyme:>})]
						<//B_auteurpr>

						<a href="[(#URL_PAGE{voirsujet}|parametre_url{id_forum,#GET{id_forum}})]#forum#ID_FORUM" class="adermsg" title="<:spipbb:messages_voir_dernier:>">
							&nbsp;<span>(<:spipbb:messages_voir_dernier:>)</span>
						</a>
					</BOUCLE_dernier_message> - <//B_dernier_message>
				</td>
			</tr>



			</BOUCLE_sujet>
			</BOUCLE_messages>
			[<tr class="pagination">
				<td colspan="6">
					<:spipbb:pagine_page_:>(#PAGINATION{page_forum})
				</td>
			</tr>]
			</B_messages>

			<tr class="sans_sujet">
				<td colspan="6"><:spipbb:sujets_aucun:></td>
			</tr>

			<//B_messages>
		</table><!--Fin tableau -->

		[(#REM) bouton ou pas si forum ferme ]
		#GET{affbouton}

		[(#REM) ligne chemin ]
		[(#MODELE{chemin_hierarchie}{id_article}{encours=#ENV{id_article}})]

		<INCLURE{fond=inc_piedforum}{id_article}>

</BOUCLE_article_principal>
