#CACHE{0}
[(#REM) Plugin SpipBB - Licence GPL]
[(#REM) SpipBB - Deplacer un thread dans un autre forum ]
[(#REM) (c) 2008 - chryjs ]

<BOUCLE_recap(FORUMS){id_forum}>

	#SET{secteur,#CONFIG{spipbb/id_secteur}}

	[(#REM) c: 11/1/8 on determine si on est admin (pour l'affichage)]
	[(#REM) Probleme des admin restreints a revoir... #SESSION{statut} ? ]
	#SET{admin,#SESSION{id_auteur}|is_modo{#ID_ARTICLE}}

	<?php if ( "#GET{admin}"=="oui" ) { ?>

	<div class="chemin">
		<a href="#ENV{retour}"><:retour:></a>
	</div>

	<table class="spipforum" id="profile">
		<tr>
			<th><:spipbb:deplacer_confirmer:></th>
		</tr>

		<tr class="inter">
			<td><:spipbb:deplacer_sujet_dpt:> #TITRE</td>
		</tr>

		<tr class="ligne_sujet">
			<td>
		<B_art_secteur>
			<form method="post" action="#URL_ACTION_AUTEUR{spipbb_agir_forum,#ID_FORUM-deplacer,#ID_ARTICLE|generer_url_entite{article}}">
			<:spipbb:deplacer_dans_dpt:>
			<select name='nouveau_forum'>
		<BOUCLE_art_secteur(ARTICLES){id_secteur=#GET{secteur}}{tout}{id_article!=#ID_ARTICLE}>
				<option value='#ID_ARTICLE'>#TITRE</option>
		</BOUCLE_art_secteur>
			</select>
			<br />
			<:confirmer:>
			<input type="submit" name="confirme" value="<:oui:>" class='fondo' />
			&nbsp;
			<input type="submit" name="annule" value="<:non:>" class='fondo' />
			</form>
		</B_art_secteur>
			<:spipbb:deplacer_vide:>
		<//B_art_secteur>

			</td>
		</tr>

		<tr class="inter">
			<td>&nbsp;</td>
		</tr>
	</table>

	<?php } ?>

	<INCLURE{fond=inc_piedforum}{id_article}>

</BOUCLE_recap>
</B_recap>
	[(#REM) si visiteur non identifie : form login ]
	[(#SESSION{id_auteur}|=={''}|?{' ',''})<div class="login"><p class="login"><:spipbb:login:></p>]
	#LOGIN_PUBLIC
	[(#SESSION{id_auteur}|=={''}|?{' ',''})
	&#91;<a[ href="(#URL_PAGE{spip_pass})"] target="spip_pass" onclick="javascript:window.open(this.href, 'spip_pass', 'scrollbars=yes, resizable=yes, width=480, height=280'); return false;"><:login_motpasseoublie:></a>&#93;
	</div>
	]
<//B_recap>
