[(#REM) c: 23/12/7 petite manip pour recuperer eventuellement la rubrique]
#SET{id_rubrique,#ENV{id_rubrique}}
<BOUCLE_selart(ARTICLES){id_article=#ENV{id_article}}>#SET{id_rubrique,#ID_RUBRIQUE}</BOUCLE_selart>
[(#REM) Au cas ou le numero de rubrique serait vide ou invalide...]
<BOUCLE_rub_sel(RUBRIQUES){id_rubrique=#GET{id_rubrique}}></BOUCLE_rub_sel></B_rub_sel>#SET{id_rubrique,#CONFIG{'spipbb/id_secteur'}}<//B_rub_sel>

[(#REM) c: 23/12/7 petite manip pour recuperer eventuellement l'identifiant auteur]
#SET{id_auteur,#ENV{id_auteur}}
[(#ENV{id_auteur}|=={''}|?{#SET{id_auteur,#SESSION{id_auteur}},''})]
<BOUCLE_lang_sel(RUBRIQUES){id_rubrique=#GET{id_rubrique}}>
<BOUCLE_recap(AUTEURS){id_auteur=#GET{id_auteur}}{tout}>

	<table class="spipforum" id="profile">
		<tr>
			<th colspan="2">#NOM</th>
		</tr>
		[(#SESSION{id_auteur}|=={#ID_AUTEUR}|?{' ',''})<tr class="inter"><td colspan="2"><:spipbb:modif_parametre:></td></tr>]
		<tr class="ligne_sujet">
			[(#SESSION{id_auteur}|=={#ID_AUTEUR}|?{' ',''})<td class="aff_avatar">
				[(#AFFICHE_AVATAR|image_reduire{#CONFIG{'spipbb/taille_avatar_prof'}})]
				[(#REM) c: 16/1/8 l'utilisation de la balise ci-dessous est ok en 193 mais pas en 192]
				[(#REM) SPIPBB_AVATAR{#SESSION{id_auteur}})]
				</td>
				<td>#FORMULAIRE_SPIPBB_PROFIL</td>]
			[(#SESSION{id_auteur}|=={#ID_AUTEUR}|?{'',' '})<td colspan='2'>[(#MODELE{profil_auteur}{id_auteur}{id_rubrique})]</td>]
		</tr>
		<tr class="inter">
			<td colspan="2">&nbsp;</td>
		</tr>
	</table>

	<INCLURE{fond=inc_piedforum}{id_rubrique}>

</BOUCLE_recap>
</B_recap>
</BOUCLE_lang_sel>
