<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{agendas}">
		[<img src="(#CHEMIN{logos/agenda-transparent.png})" alt="<:explos_agendas:agendas:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong>Agenda</strong> C.S.T.
		</span>
		<span class="logo-description">
			L'actualité de la culture scientifique
		</span>
	</a>
</div><!-- #entete-logo -->

