<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div><!-- titre et desriptif -->                                          
<h1><:explos_agendas:agendas_explorateurs:></h1>
<p><:explos_agendas:agendas_description:></p>
</div><!-- #entete-contenu -->
