<div class="#ENV{colonne}">
	<div class="hobbes">
		<h2>#ENV{titre}</h2>
		<B_events>
		<ul class="liste">
		<BOUCLE_events(EVENEMENTS){id_rubrique}{agendafull date_debut,date_fin, periode, (#ENV{date_debut}|annee), (#ENV{date_debut}|mois), (#ENV{date_debut}|jour), (#ENV{date_fin}|annee), (#ENV{date_fin}|mois), (#ENV{date_fin}|jour)}{par date}{pagination 5}>
			<li><BOUCLE_lieu1(ARTICLES){id_article}>#SET{titre_article1,#TITRE}</BOUCLE_lieu1>
				<h3><a href="[(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT})]">#TITRE</a></h3>
				<p class="location">#GET{titre_article1}[, (#LIEU*)]</p>
				[<p class="date">(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE,'hcal'})</p>]
				<a href="[(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT})]" title="[(#TITRE|attribut_html|couper{80})]" class="lien-suite"><:explos:lire_la_suite:></a>
			</li>
		</BOUCLE_events>
		</ul>
		[<p class="pagination">(#PAGINATION{page}{separateur=" "})</p>]
		</B_events>
		<:explos_agendas:aucun_resultat_periode:>
		<//B_events>
	</div><!-- .hobbes -->
</div><!-- .#ENV{colonne} -->
