<div class="nav nav-questions">
	<INCLURE{fond=modeles/calendrier_events}{env}{ajax} />
</div><!-- .nav -->

<div class="nav nav-soumettre nav-liste-actions">
	[<a href="(#URL_PAGE{soumettre_evenement}|parametre_url{id_article,#ID_ARTICLE})">]
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Sousmettre un événement})]
	<strong>Soumettre un événement[(#ID_ARTICLE|oui) ici]</strong>
	</a>
</div><!-- .nav -->

[(#SESSION{statut}|=={0minirezo}|oui)
<div class="nav nav-ajouter nav-liste-actions">
	<a href="#URL_PAGE{ajouter_armateur}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Ajouter un armateur})]
	<strong>Ajouter un armateur</strong>
	</a>
</div><!-- .nav -->

[(#ID_RUBRIQUE|=={#CONFIG{explos/agendas/rubrique_armateurs}}|oui)
<div class="nav nav-solutions">
	<INCLURE{fond=agendas/inc-liste-auteurs}{id_article} />
	[(#FORMULAIRE_AJOUTER_AUTEUR{#ID_ARTICLE,[(#ARRAY{label_ajouter_auteur,<:explos_agendas:ajouter_equipier:>})]})]
</div><!-- .nav -->]
]
<INCLURE{fond=defaut/inc-nav-login}{module} />
