<li class="editer_secteur">
	<label><:explos:rubrique_du_module:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{secteur})</span>]
	<select name="secteur">
		<option value=""></option>
		<BOUCLE_racine(RUBRIQUES){racine}{tout}>
		<option value="#ID_SECTEUR"[ (#ENV{secteur}|=={#ID_SECTEUR}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_racine>
	</select>
</li>
