<li class="editer_couleurs">
	<fieldset>
	<legend><:explos:configurer_couleurs:></legend>
	<ul>
		<li class="editer_couleur_claire">
			<label><:explos:couleur_claire:></label>
			[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_claire})</span>]
			<input type="text" name="couleur_claire" class="text cfg_couleur palette" value="#ENV{couleur_claire,#42a7ce}" size="7" />
		</li>
		<li class="editer_couleur_foncee">
			<label><:explos:couleur_foncee:></label>
			[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_foncee})</span>]
			<input type="text" name="couleur_foncee" class="text cfg_couleur palette" value="#ENV{couleur_foncee,#347498}" size="7" />
		</li>
		<li class="editer_couleur_noir">
			<label><:explos:couleur_noire:></label>
			[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_noir})</span>]
			<input type="text" name="couleur_noir" class="text cfg_couleur palette" value="#ENV{couleur_noir,#0a2f3b}" size="7" />
		</li>
	</ul>
	</fieldset>
</li>
