<BOUCLE_secteur(RUBRIQUES){id_rubrique=#ENV{id_rubrique}}>
<B_cat>
<li class="editer_parent[ (#ENV**{erreurs}|table_valeur{id_rubrique}|oui)erreur]">
	<label for="id_parent"><:explos_jaifait:categorie_carnet:> :</label>
	<select name="id_parent">
		<BOUCLE_cat(RUBRIQUES){id_secteur}{id_parent!=0}{tout}>
		<option value="#ID_RUBRIQUE"[ (#ENV{id_rubrique}|=={#ID_RUBRIQUE}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_cat>
	</select>
</li>
</B_cat>
<input type='hidden' name='id_parent' value='#ENV{id_rubrique}' />
<//B_cat>
</BOUCLE_secteur>