[(#REM)
	Head standard de toutes les pages ; les elements specifiques
	(title, description) figurent dans le squelette article.html
]
[(#REM) Preciser le charset ]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />

[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Lien vers l'icone destinee a la barre de bookmarks ]
[<link rel="shortcut icon" href="(#ENV*{favicon}
	|sinon{#CHEMIN{favicon.ico}}
	|sinon{#LOGO_SITE_SPIP}
		|image_passe_partout{32,32}
		|image_recadre{32,32,center}
		|image_format{ico}|extraire_attribut{src}
	|sinon{#CHEMIN{spip.ico}})" type="image/x-icon" />]

[(#REM) Feuille de style par defaut pour le code genere par SPIP ]
[<link rel="stylesheet" href="(#CHEMIN{spip_style.css}|direction_css)" type="text/css" media="all" />]

[<link rel="stylesheet" href="(#URL_PAGE{theme.css}
	|parametre_url{module,#ENV{module}}
	|direction_css)" type="text/css" media="all" />]

[(#REM) Balise permettant aux plugins d'inserer des appels javascript ou css ;
	C'est ici que SPIP va inserer l'appel de la librairie jQuery
]
#INSERT_HEAD
	
[(#REM) Agreger et compacter tout cela dans des fichiers statiques ]
#FILTRE{compacte_head}
