#CACHE{0}
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
<div id="formMap" name="formMap" style="width: 100%; height: 350px"></div>
<script type="text/javascript">

//<![CDATA[

var letraNH = String.fromCharCode(241);
var letraNHNH = String.fromCharCode(209);
var letraAacute = String.fromCharCode(225);
var letraAAacute = String.fromCharCode(193);
var letraEacute = String.fromCharCode(233);
var letraEEacute = String.fromCharCode(201);
var letraIacute = String.fromCharCode(237);
var letraIIacute = String.fromCharCode(205);
var letraOacute = String.fromCharCode(243);
var letraOOacute = String.fromCharCode(211);
var letraUacute = String.fromCharCode(250);
var letraUUacute = String.fromCharCode(218);

fecha = new Date();
if (GBrowserIsCompatible()) {
    // create the map
    var map = new GMap2(document.getElementById("formMap"));
    map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl());
    map.setCenter(new GLatLng([(#CONFIG**{gis_default_lat,0})],[(#CONFIG**{gis_default_lonx,0})]), [(#CONFIG**{gis_default_zoom,0})], G_NORMAL_MAP);

    // creamos el evento para crear nuevos marcadores
    GEvent.addListener(map, "click", function(overlay, point){
	map.clearOverlays();
	if (point) {
		map.addOverlay(new GMarker(point));
		map.panTo(point);
		document.forms.formulaire_ajouter_armateur.lat.value = point.y;
		document.forms.formulaire_ajouter_armateur.lonx.value = point.x;
	}
    });
	
	[(#ENV**{lat}|oui)
	map.addOverlay(new GMarker(new GLatLng([(#ENV**{lat})],[(#ENV**{lonx})])));
	map.setCenter(new GLatLng([(#ENV**{lat})],[(#ENV**{lonx})]));
	]
	
} else {
    alert("Sorry, the Google Maps API is not compatible with this browser");
}

//]]>

</script>
<script type="text/javascript"><!--
		
	(function($) {
	var rechercher_commune = function() {

		// chercher l'input de saisie
		var me = jQuery('input[@name=nom_commune][autocomplete!=off]');
		me.autocomplete('[(#URL_PAGE{selecteur_commune})]',
					{
						delay: 200,
						autofill: false,
						minChars: 1,
						multiple:false,
						multipleSeparator:";",
						scroll: false,
						mustMatch: true,
						formatItem: function(data, i, n, value) {
							return data[0];
						},
						formatResult: function(data, i, n, value) {
							return data[1];
						},
					}
				);
				me.result(function(event, data, formatted) {
					if (data[2] > 0) {
						var id = data[2];
						jQuery('#id_commune').val(id);
						jQuery('#formulaire_ajouter_armateur input[type="submit"]').focus();
						jQuery(me)
						.end();
					}
					else{
						return data[1];
					}
				});
			};
			$(function(){
				rechercher_commune();
				onAjaxLoad(rechercher_commune);
			});
		})(jQuery);
// --></script>
[<p class='reponse_formulaire reponse_formulaire_erreur'>(#ENV*{message_erreur})</p>]

<div class="formulaire_spip formulaire_editer">
	<!-- <br class='bugajaxie' /> -->

	[(#ENV{editable})
	
	
	<form method='post' action='#ENV{action}' enctype='multipart/form-data' name='formulaire_ajouter_armateur' id='formulaire_ajouter_armateur' class='noajax'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
	  <ul>
		<li>
			<label for="lat">Latitude</label>
			<input type="text" name="lat" id="lat" class="text" value="[(#ENV**{lat})]" />
		</li>
		<li>
			<label for="lonx">Longitude</label>
			<input type="text" name="lonx" id="lonx" class="text" value="[(#ENV**{lonx})]" />
		</li>
		<li class="nom_commune obligatoire[ (#ENV**{erreurs}|table_valeur{nom_commune}|oui)erreur]">
			<label for="nom_commune"><:explos_agendas:nom_ville_code_postal:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom_commune})</span>]
			<input type='text' class='text' name='nom_commune' id='nom_commune' value="#ENV{nom_commune}" onclick="jQuery(this).val('');jQuery('#id_commune').val('');" />
			<input type="hidden" name="id_commune" id="id_commune" value="#ENV{id_commune}" />
		</li>
		<li class="logo_armateur[ (#ENV**{erreurs}|table_valeur{logo_armateur}|oui)erreur]">
			<label for="logo_armateur"><:explos_agendas:logo_armateur:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{logo_armateur})</span>]
			<input type='file' name='logo_armateur' id='logo_armateur' class='file' value="" />
		</li>
	    <li class="editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
	    	<label for="titre"><:info_titre:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>]
			<input type='text' name='titre' id='titre' class='text' value="[(#ENV**{titre})]"/>
	    </li>

	  	[(#ENV**{config}|table_valeur{articles_texte}|=={non}|?{#ENV**{texte,''},' '}|oui)
	    <li class="editer_texte obligatoire[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
			<label for="texte"><:info_texte:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>]
			[(#ENV**{_texte_trop_long,''})]
			<div class="explication"><:texte_enrichir_mise_a_jour:></div>
			[(#VAL{text_area}|barre_typo{#LANG})]
			<textarea name='texte' id='texte' class='barre_inserer' rows='7' cols='40'[
			(#ENV**{_browser_caret,''})]>[(#ENV**{texte})]</textarea>
			
			<script type='text/javascript'><!--
			jQuery(function(){
			jQuery('#text_area')
			.height((jQuery(window).height()-80)+'px');
			});
			//--></script>
	    </li>]
	
	  </ul>

	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input class='submit' type='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
