<script type="text/javascript"><!--
		
	(function($) {
	var rechercher_commune = function() {

		// chercher l'input de saisie
		var me = jQuery('input[@name=nom_commune][autocomplete!=off]');
		me.autocomplete('[(#URL_PAGE{selecteur_commune})]',
					{
						delay: 200,
						autofill: false,
						minChars: 1,
						multiple:false,
						multipleSeparator:";",
						scroll: false,
						mustMatch: true,
						formatItem: function(data, i, n, value) {
							return data[0];
						},
						formatResult: function(data, i, n, value) {
							return data[1];
						},
					}
				);
				me.result(function(event, data, formatted) {
					if (data[2] > 0) {
						var id = data[2];
						jQuery('#id_commune').val(id);
						jQuery('#formulaire_choix_commune input[type="submit"]').focus();
						jQuery(me)
						.end();
					}
					else{
						return data[1];
					}
				});
			};
			$(function(){
				rechercher_commune();
				onAjaxLoad(rechercher_commune);
			});
		})(jQuery);
// --></script>[(#ENV{editable})
<div class="formulaire_spip formulaire_editer formulaire_choix_commune" id="formulaire_choix_commune">
<form action="#ENV{action}" method="post">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#REM) declarer les hidden qui declencheront le service du formulaire 
	parametre : url d'action ]
	#ACTION_FORMULAIRE{#ENV{action}}
	<ul>
		<li class="nom_commune obligatoire[ (#ENV**{erreurs}|table_valeur{nom_commune}|oui)erreur]">
			<label for="nom_commune"><:explos_agendas:nom_ville_code_postal:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom_commune})</span>]
			<input type='text' class='text' name='nom_commune' id='nom_commune' value="#ENV{nom_commune}" onclick="jQuery(this).val('');jQuery('#id_commune').val('');" />
			<input type="hidden" name="id_commune" id="id_commune" value="" />
		</li>
	</ul>
	<p class='boutons'>
		<input type='submit' class='submit' value='Valider' />
	</p>
</form>
</div>]
