
<!-- depot=metapack -->
<!-- autoriser=configurer -->
<!-- nom=explos -->
<!-- casier=agendas -->

#CACHE{0}


<div class="formulaire_spip formulaire_cfg formulaire_exemple_configurer_site">
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
#ACTION_FORMULAIRE{#SELF}

<ul>
[(#INCLURE{fond=fonds/inc-explos-secteurs}{env})]
[(#INCLURE{fond=fonds/inc-explos-couleurs}{env})]
<li class="editer_sous_rubriques">
	<label><:explos_agendas:rubrique_armateurs:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{rubrique_armateurs})</span>]
	<select name="rubrique_armateurs">
		<option value=""></option>
		<BOUCLE_sr1(RUBRIQUES){id_parent=#ENV{secteur}}{tout}>
		<option value="#ID_RUBRIQUE"[ (#ENV{rubrique_armateurs}|=={#ID_RUBRIQUE}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_sr1>
	</select>
</li>
<li class="editer_sous_rubriques">
	<label><:explos_agendas:rubrique_ponctuels:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{rubrique_ponctuels})</span>]
	<select name="rubrique_ponctuels">
		<option value=""></option>
		<BOUCLE_sr2(RUBRIQUES){id_parent=#ENV{secteur}}{tout}>
		<option value="#ID_RUBRIQUE"[ (#ENV{rubrique_ponctuels}|=={#ID_RUBRIQUE}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_sr2>
	</select>
</li>
</ul>
<p class="boutons">
<input type="submit" name="_cfg_ok" class="submit" value="<:cfg:OK:>" />
</p>

</div></form>
</div>
