<script type="text/javascript"><!--
		
	(function($) {
	var rechercher_commune = function() {

		// chercher l'input de saisie
		var me = jQuery('input[@name=nom_commune][autocomplete!=off]');
		me.autocomplete('[(#URL_PAGE{selecteur_commune})]',
					{
						delay: 200,
						autofill: false,
						minChars: 1,
						multiple:false,
						multipleSeparator:";",
						scroll: false,
						mustMatch: true,
						formatItem: function(data, i, n, value) {
							return data[0];
						},
						formatResult: function(data, i, n, value) {
							return data[1];
						},
					}
				);
				me.result(function(event, data, formatted) {
					if (data[2] > 0) {
						var id = data[2];
						jQuery('#id_commune').val(id);
						jQuery('#formulaire_recherche_event input[type="submit"]').focus();
						jQuery(me)
						.end();
					}
					else{
						return data[1];
					}
				});
			};
			$(function(){
				rechercher_commune();
				onAjaxLoad(rechercher_commune);
			});
		})(jQuery);
// --></script>
[(#ENV{editable})
<div class="formulaire_spip formulaire_editer_evenement" id="formulaire_recherche_event">
<form action="#ENV{action}" method="post">
	<p class="legend"><:explos_agendas:titre_formulaire_recherche:></p>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#REM) declarer les hidden qui declencheront le service du formulaire 
	parametre : url d'action ]
	#ACTION_FORMULAIRE{#ENV{action}}
	<ul>
	    <li class="editer_date_debut_fin[ (#ENV**{erreurs}|table_valeur{date_debut}|oui)erreur][ (#ENV**{erreurs}|table_valeur{date_fin}|oui)erreur]">
			<label for="date_debut"><:agenda:evenement_date_de:></label>[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_debut})</span>][
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_fin})</span>
			]<input type='text' class='text date' name='date_debut' id='date_debut' value="[(#ENV{date_debut})]" />
			<label for="date_fin" class='date_fin'><:agenda:evenement_date_a:></label>
			<input type='text' class='text date' name='date_fin' id='date_fin' value="[(#ENV{date_fin})]" />
	    </li>
		<li class="nom_commune[ (#ENV**{erreurs}|table_valeur{nom_commune}|oui)erreur]">
			<label for="nom_commune"><:explos_agendas:lieu:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom_commune})</span>]
			<input type='text' class='text' name='nom_commune' id='nom_commune' value="[(#ENV{nom_commune}|?{#ENV{nom_commune},<:explos_agendas:nom_ville_code_postal:>})]" onclick="jQuery(this).val('');jQuery('#id_commune').val('');" />
			<input type="hidden" name="id_commune" id="id_commune" value="" />
		</li>
	</ul>
	<p class='boutons'>
		<input type='submit' class='submit' value='Rechercher' />
	</p>
</form>
</div>]
<script type='text/javascript' src='#CHEMIN{javascript/dates.js}'></script>
<script type='text/javascript' src='#CHEMIN{javascript/jquery.datePicker.js}'></script>
<script type='text/javascript'>
Date.dayNames = ['<:date_jour_1:>', '<:date_jour_2:>', '<:date_jour_3:>', '<:date_jour_4:>', '<:date_jour_5:>', '<:date_jour_6:>', '<:date_jour_7:>'];
Date.abbrDayNames = ['<:date_jour_1_abbr:>', '<:date_jour_2_abbr:>', '<:date_jour_3_abbr:>', '<:date_jour_4_abbr:>', '<:date_jour_5_abbr:>', '<:date_jour_6_abbr:>', '<:date_jour_7_abbr:>'];
Date.monthNames = ['<:date_mois_1:>', '<:date_mois_2:>', '<:date_mois_3:>', '<:date_mois_4:>', '<:date_mois_5:>', '<:date_mois_6:>', '<:date_mois_7:>', '<:date_mois_8:>', '<:date_mois_9:>', '<:date_mois_10:>', '<:date_mois_11:>', '<:date_mois_12:>'];
Date.abbrMonthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
Date.firstDayOfWeek = 1;
Date.format = 'dd/mm/yyyy';
$.dpText = {
	TEXT_PREV_YEAR		:	'<:agenda:annee_precedente|texte_script:>',
	TEXT_PREV_MONTH		:	'<:agenda:mois_precedent|texte_script:>',
	TEXT_NEXT_YEAR		:	'<:agenda:annee_suivante|texte_script:>',
	TEXT_NEXT_MONTH		:	'<:agenda:mois_suivant|texte_script:>',
	TEXT_CLOSE			:	'<:agenda:fermer|texte_script:>',
	TEXT_CHOOSE_DATE	:	'<img src=\'#CHEMIN{img_pack/picker-16.gif}\' alt=\'<:agenda:afficher_calendrier|attribut_html:>\' />',
	TITLE_CHOOSE_DATE	:	'<:agenda:afficher_calendrier|texte_script:>'
}
$(function()
{
	$('input.date').datePicker({startDate:'01/01/1900'}).dpSetPosition($.dpConst.POS_TOP, $.dpConst.POS_RIGHT);
	$('#date_debut').bind(
		'dpClosed',
		function(e, selectedDates)
		{
			var d = selectedDates[0];
			if (d) {
				d = new Date(d);
				$('#date_fin').dpSetStartDate(d.addDays(0).asString());
			}
		}
	);
	$('#date_fin').bind(
		'dpClosed',
		function(e, selectedDates)
		{
			var d = selectedDates[0];
			if (d) {
				d = new Date(d);
				$('#date_debut').dpSetEndDate(d.addDays(0).asString());
			}
		}
	);
});
</script>
