[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|texte_backend)] - Agenda</title>
	<link>#URL_SITE_SPIP/</link>
	[<description>(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)</description>]
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{width})</width>]
	</image>
]

<BOUCLE_10recents(EVENEMENTS){id_article ?}{branche ?}{par date}{inverse}{0,10}>
	<item[ xml:lang="(#LANG)"]>
		<title>[(#TITRE|supprimer_numero|texte_backend)]</title>
		<link>[(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT}|url_absolue)]</link>
		[<guid isPermaLink="true">(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT}|url_absolue)</guid>]
		[<dc:date>(#DATE_DEBUT|date_iso)</dc:date>]
		<dc:format>text/html</dc:format>
		[<dc:language>(#LANG)</dc:language>]

		<description>[(#DESCRIPTIF|couper{150}|texte_backend)]</description>

		<content:encoded>[(#LOGO_ARTICLE|right||image_reduire{150,150}|texte_backend)]
		&lt;div class='rss_date'&gt;Date : [(#DATE_DEBUT|affdate_jourcourt|texte_backend)][ - (#DATE_FIN|affdate_jourcourt|texte_backend)]&lt;/div&gt;
		&lt;div class='rss_lieu'&gt;Lieu : <BOUCLE_lieu(ARTICLES){id_article}>[(#TITRE|texte_backend)]</BOUCLE_lieu>&lt;/div&gt;
		[&lt;div class='rss_texte'&gt;(#DESCRIPTIF|image_reduire{500,0}|texte_backend)&lt;/div&gt;]
		</content:encoded>
	</item>
</BOUCLE_10recents>


</channel>

</rss>