#CACHE{1}
[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>

<rss  version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" 
xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" 
xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">

<channel>
	<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
	<link>[(#URL_SITE_SPIP)/]</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)]</description>
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>
	
	<BOUCLE_un_event(EVENEMENTS){id_secteur=#ID_RUBRIQUE}{recherche ?}{id_article ?}{agendafull date_debut,date_fin, periode, (#DATE_DEBUT|annee), (#DATE_DEBUT|mois), (#DATE_DEBUT|jour), (#DATE_FIN|annee), (#DATE_FIN|mois), (#DATE_FIN|jour)}{par date}{inverse}{0, #ENV{limit}}>
	<item>
	<title>[(#TITRE|supprimer_numero|texte_backend)]</title>
	[<guid isPermaLink="true">(#URL_ARTICLE|url_absolue)</guid>]
	[<link>(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT}|url_absolue)</link>]
	<description>&lt;div style='width:200px'&gt;
			&lt;div style='font-size:11px; margin-bottom:5px; font-weight:bold'&gt;&lt;a href='[(#URL_PAGE{evenement}|parametre_url{id_evenement,#ID_EVENEMENT}|url_absolue|texte_backend)]'&gt;[(#TITRE|texte_backend)]&lt;/a&gt; &lt;/div&gt;
			&lt;div style='font-size:10px;'&gt;Date : [(#DATE_DEBUT|affdate_jourcourt|texte_backend)][ - (#DATE_FIN|affdate_jourcourt|texte_backend)]&lt;/div&gt;
			&lt;div style='font-size:10px; margin-bottom:10px'&gt;Lieu : <BOUCLE_lieu(ARTICLES){id_article}>#TITRE</BOUCLE_lieu>&lt;/div&gt;
			&lt;div style='font-size:10px; text-align:left'&gt;[(#DESCRIPTIF|couper{150}|supprimer_tags|texte_backend)] &lt;/div&gt;
			&lt;/div&gt;</description>
			<dc:date>[(#DATE_DEBUT|date_iso)]</dc:date>
			<BOUCLE_gis(GIS){id_article}>
			<geo_lat>#LAT</geo_lat>
			<geo_long>#LONX</geo_long>
			</BOUCLE_gis>
			<B_tags1><geo_icon><BOUCLE_tags1(MOTS){id_article}{type=marker_icon}>[#URL_SITE_SPIP/IMG/(#LOGO_MOT|fichier)]</BOUCLE_tags1></geo_icon></B_tags1>
			<B_tags><dc:subject><BOUCLE_tags(MOTS){id_article}>[(#TITRE|texte_backend)]</BOUCLE_tags></dc:subject></B_tags>
		[<dc:language>(#LANG)</dc:language>]
	</item>
	</BOUCLE_un_event>
</channel>
</rss>
