<B_articles>
<div class="vin">
	<div class="hobbes">
		<h2>#GRAND_TOTAL[ (#GRAND_TOTAL|>{1}|?{<:photos:>,<:photo:>}) en attente]</h2>
		#ANCRE_PAGINATION
		<ul class="liste-images">
			<BOUCLE_articles(ARTICLES){id_secteur}{id_auteur}{!par date}{statut = prop} {pagination 10}>
			<li>[(#LOGO_ARTICLE|||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{alt,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})][ <em>(#DATE|affdate_court)</em>]</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
</div>
</B_articles>