<B_messages_articles>
#ANCRE_PAGINATION
	<BOUCLE_messages_articles(FORUMS) {articles.id_secteur} {recherche} {!par articles.date}{!par points}{pagination 40}>
		[(#ID_ARTICLE|unique{debut}|oui)
		[(#GET{fin})]
			<div class="cal">
				<div class="hobbes">
					[(#LOGO_ARTICLE|#URL_ARTICLE||image_reduire{200})]
				</div>
			</div>
			<div class="vin">
				<div class="hobbes">
				<h2><:explos_questions:reponses_trouvees:></h2>
				<ul>
				[(#SET{fin,</ul></div></div><br class="nettoyeur" />})]
		]
		<li><a href="#URL_FORUM"[ title="(#TITRE|attribut_html|couper{80})"]>[(#TEXTE|couper{80})]</a></li>
	</BOUCLE_messages_articles>
	[(#GET{fin})]
[<p class="pagination">(#PAGINATION)</p>]
</B_messages_articles>
