<B_articles>
#ANCRE_PAGINATION
<ul class="liste-images">
	<BOUCLE_articles(ARTICLES){id_secteur=#ENV{secteur_module}} {age>=#CONFIG{explos/mystere/devoiler,7}}{!par date} {pagination 80}>
	<li><a href="#URL_ARTICLE">[(#LOGO_ARTICLE|||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{alt,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]</a>[ <em>(#DATE|affdate_court)</em>]</li>
	</BOUCLE_articles>
</ul>
[<p class="pagination">(#PAGINATION)</p>]
</B_articles>