<B_articles>
<div class="cal">
	<div class="hobbes">
		<h2>#GRAND_TOTAL[ (#GRAND_TOTAL|>{1}|?{<:photos:>,<:photo:>})]</h2>
		#ANCRE_PAGINATION
		<ul class="liste-images">
			<BOUCLE_articles(ARTICLES){id_secteur}{id_auteur} {age>=0}{!par date} {pagination 10}>
			<li><a href="#URL_ARTICLE">[(#LOGO_ARTICLE|||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{alt,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]</a>[ <em>(#DATE|affdate_court)</em>]</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
</div>
</B_articles>