<BOUCLE_art(ARTICLES){id_article}>
<div id="entete-contenu">
<!-- symboles l'un sur l'autre ou numero de photo mystere -->
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div>
<!-- titre et desriptif -->                                          
<h1><:explos_mystere:titre_mystere:></h1>
<p><:explos_mystere:description_mystere:></p>
</div><!-- #entete-contenu -->
</BOUCLE_art>
