<BOUCLE_art(ARTICLES){id_article}>
<div class="cal">
	<div class="hobbes">
		<h2><:explos_mystere:photo_du_jour:></h2>
		<div class="cadre-photo">
			[<a href="(#LOGO_ARTICLE||extraire_attribut{src})" class="nyroceros">]
			[(#LOGO_ARTICLE||image_passe_partout{318,318}|image_recadre{318,318})
			</a>]
		</div>
		<BOUCLE_licence(MOTS){id_article}{id_groupe = #CONFIG{explos/portail/groupe_mots_licence}}>
		<p class="licence"><:explos_mystere:licence:> : #TITRE</p>
		</BOUCLE_licence>
	</div>
	<div class="gromit">
		<B_hypotheses>
		<ul class="liste">
		<BOUCLE_hypotheses(FORUMS){id_article}{plat}{par date}>
			<li>
				[(#CONFIG{explos/mystere/noter_hypotheses}|=={oui}|oui)
				#FORMULAIRE_NOTATION]
				[(#NOM|oui)<strong>Hypothèse de #NOM</strong>]
				[(#NOM|non)<strong>Hypothèse anonyme</strong>]
				#TEXTE
			</li>
		</BOUCLE_hypotheses>
		</ul>
		</B_hypotheses>
	</div><!-- .gromit-->
</div>
#SET{date_article,(#DATE|affdate{'Y-m-d'})}
</BOUCLE_art>

<div class="vin">
	<div class="hobbes">
		<BOUCLE_devoiler(ARTICLES){id_article}{jour_relatif>=#CONFIG{explos/mystere/devoiler,7}}>
		<BOUCLE_doc(DOCUMENTS){id_article}{!par date}{extension IN jpg,png,gif}{0,1}>
		<h2>
		<a href="#voir_solution" class="voir_solution action"><:explos_mystere:voir_solution:></a>
		<a href="#cacher_solution" class="cacher_solution action"><:explos_mystere:cacher_solution:></a>
		<:explos_mystere:solution:>
		</h2>
		<div class="cadre-photo mystere_solution">
		[<a href="(#FICHIER)" class="nyroceros">]
		[(#FICHIER|image_passe_partout{318,318}|image_recadre{318,318})
		</a>]
		<div class="descriptif">#DESCRIPTIF</div>
		</div>
		</BOUCLE_doc>
		<script type="text/javascript">
		<!--
		jQuery(document).ready(function($){
			$('#contenu .mystere_solution').hide();
			$('#contenu .cacher_solution').hide();
			$('#contenu .voir_solution').click(function(){
				$(this).hide();
				$('#contenu .cacher_solution').show();
				$('#contenu .mystere_solution').show();
			});
			$('#contenu .cacher_solution').click(function(){
				$(this).hide();
				$('#contenu .voir_solution').show();
				$('#contenu .mystere_solution').hide();
			});			
		});
		-->
		</script>
		#SET{label,(#VAL{explos_mystere:poster_commentaire}|_T)}
		</BOUCLE_devoiler>
		</B_devoiler>
		[(#SET{age,[(#GET{date_article}|duree{[(#EVAL{date("Y-m-d")})],D})]})]
		<h2><:explos_mystere:solution:> 
			dans [(#CONFIG{explos/mystere/devoiler,7}|moins{#GET{age}})]
		 	[(#CONFIG{explos/mystere/devoiler,7}|moins{#GET{age}}|>{1}|?{'jours','jour'})]
		</h2>
		#SET{label,(#VAL{explos_mystere:jemets_une_hypothese}|_T)}
		<//B_devoiler>
		
		<BOUCLE_solution(ARTICLES){id_article}{age<#CONFIG{explos/mystere/stoper_forum,14}}>
		[(#FORMULAIRE_ECRIRE_UN_MESSAGE{#ID_ARTICLE,
			[(#ARRAY{
				label,#GET{label},
				message,<:explos_mystere:hypothese:>,
				bouton,<:explos_mystere:soumettre:>,
				ok,<:explos_mystere:message_hypothese_soumise:>
			})]})]
		</BOUCLE_solution>
	</div><!-- .hobbes -->
</div><!-- .vin -->
