<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{mystere}">
		[<img src="(#CHEMIN{logos/mystere-transparent.png})" alt="<:explos_mystere:photo_mystere:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong><:explos_mystere:mystere:></strong> <:explos:explorateurs:>
		</span>
		<span class="logo-description">
			<:explos_mystere:photo_mystere:>
		</span>
	</a>
</div><!-- #entete-logo -->
