
<B_p>
<div class="nav nav-questions nav-liste-photos">
	<h3><:explos_mystere:photos_precedentes:></h3>
	<ul>
	<BOUCLE_p(ARTICLES){id_secteur=#ENV{secteur_module}}{age>=0}{age<7}{!par date}{pagination 9}{0,63}>
		<li><a href="#EXPOSE{'#',#URL_ARTICLE}">[(#LOGO_ARTICLE||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{title,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]</a></li>
	</BOUCLE_p>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
</div><!-- .nav -->
</B_p>

<B_s>
<div class="nav nav-solutions nav-liste-photos">
	<h3><:explos_mystere:solutions_precedentes:></h3>
	<ul>
	<BOUCLE_s(ARTICLES){id_secteur=#ENV{secteur_module}}{age>=#CONFIG{explos/mystere/devoiler,7}}{!par date}{pagination 9}{0,63}>
		<li><a href="#EXPOSE{'#',#URL_ARTICLE}">[(#LOGO_ARTICLE||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{title,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]</a></li>
	</BOUCLE_s>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
	[<p class="archives"><a href="(#URL_PAGE{archives_mystere})"><:explos_mystere:voir_archives:></a></p>]
</div><!-- .nav -->
</B_s>

<B_h>
<div class="nav nav-hasard nav-liste-photos">
	<h3><:explos_mystere:par_hasard:></h3>
	<ul>
	<BOUCLE_h(ARTICLES){id_secteur=#ENV{secteur_module}}{age>=#CONFIG{explos/mystere/devoiler,7}}{par hasard}{0,6}>
		<li><a href="#EXPOSE{'#',#URL_ARTICLE}">[(#LOGO_ARTICLE||image_passe_partout{72,72}|image_recadre{72,72}|inserer_attribut{title,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]</a></li>
	</BOUCLE_h>
	</ul>
</div><!-- .nav -->
</B_h>

<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{soumettre_mystere}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos_mystere:soumettre_un_mystere:>})]
	<strong><:explos_mystere:soumettre_un_mystere:></strong>
	</a>
</div><!-- .nav -->


<INCLURE{fond=defaut/inc-nav-login}{module} />
