
<!-- depot=metapack -->
<!-- autoriser=configurer -->
<!-- nom=explos -->
<!-- casier=portail -->

#CACHE{0}


<div class="formulaire_spip formulaire_cfg formulaire_exemple_configurer_site">
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
#ACTION_FORMULAIRE{#SELF}

<ul>
[(#INCLURE{fond=fonds/inc-explos-couleurs}{env})]
<li class="editer_secteur">
	<label><:explos_portail:rubrique_mots_doux:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{secteur_mots_doux})</span>]
	<select name="secteur_mots_doux">
		<option value=""></option>
		<BOUCLE_racine(RUBRIQUES){racine}{tout}>
		<option value="#ID_SECTEUR"[ (#ENV{secteur_mots_doux}|=={#ID_SECTEUR}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_racine>
	</select>
</li>
<li class="editer_secteur">
	<label><:explos_portail:rubrique_presentation:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{secteur_presentation})</span>]
	<select name="secteur_presentation">
		<option value=""></option>
		<BOUCLE_racine2(RUBRIQUES){racine}{tout}>
		<option value="#ID_SECTEUR"[ (#ENV{secteur_presentation}|=={#ID_SECTEUR}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_racine2>
	</select>
</li>
<li class="editer_groupe">
	<label><:explos_portail:groupe_mots_licence:></label>
	[<span class='erreur'>(#ENV**{erreurs}|table_valeur{groupe_mots_licence})</span>]
	<select name="groupe_mots_licence">
		<option value=""></option>
		<BOUCLE_groupes(GROUPES_MOTS){par titre}>
		<option value="#ID_GROUPE"[ (#ENV{groupe_mots_licence}|=={#ID_GROUPE}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_groupes>
	</select>
</li>
</ul>
<p class="boutons">
<input type="submit" name="_cfg_ok" class="submit" value="<:cfg:OK:>" />
</p>

</div></form>
</div>
