<div id="hierarchie">
<BOUCLE_precedent(ARTICLES){id_secteur}{!par date}{jour_relatif>0}{0,1}>
<a href="[(#URL_PAGE{carnet_date}|parametre_url{date,[(#DATE|affdate{Y-m-d})]})]">
	&lt;&lt; [(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]
</a>
</BOUCLE_precedent>
<BOUCLE_suivant(ARTICLES){id_secteur}{par date}{jour_relatif<0}{0,1}>
<a href="[(#URL_PAGE{carnet_date}|parametre_url{date,[(#DATE|affdate{Y-m-d})]})]">
	[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)] &gt;&gt;
</a>
</BOUCLE_suivant>
</div>
