<div class="nav nav-carnets">
	<h3><:explos_jaifait:derniers_carnets:></h3>
	<B_p>
	<ul>
	<BOUCLE_p(ARTICLES){id_secteur=#ENV{secteur_module}}{!par date}{0,10}>
		<li><a href="[(#URL_ARTICLE)]">
			#TITRE <em>([(#DATE|affdate_court)])</em>
		</a></li>
	</BOUCLE_p>
	</ul>
	</B_p>
</div><!-- .nav -->

<div class="nav nav-carnets-hasard">
	<h3><:explos_jaifait:carnets_au_hasard:></h3>
	<B_hasard>
	<ul>
	<BOUCLE_hasard(ARTICLES){id_secteur=#ENV{secteur_module}}{par hasard}{0,10}>
		<li><a href="[(#URL_ARTICLE)]">
			#TITRE <em>([(#DATE|affdate_court)])</em>
		</a></li>
	</BOUCLE_hasard>
	</ul>
	</B_hasard>
</div><!-- .nav -->

<B_mes_carnets>
<div class="nav nav-mes-carnets">
<h3><:explos_jaifait:carnets_en_redaction:></h3>
<ul>
<BOUCLE_mes_carnets(ARTICLES){id_secteur=#ENV{secteur_module}}{id_auteur=#SESSION{id_auteur}}{!par date}{pagination 10}{statut=prepa}>
		<li><a href="[(#URL_PAGE{soumettre_carnet}|parametre_url{carnet,#ID_ARTICLE})]">
			#TITRE <em>([(#DATE|affdate_court)])</em>
		</a></li>
</BOUCLE_mes_carnets>
</ul>
</div>
</B_mes_carnets>


[(#SESSION{id_auteur}|oui)
<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{soumettre_carnet}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos_jaifait:soumettre_un_carnet:>})]
	<strong><:explos_jaifait:soumettre_un_carnet:></strong>
	</a>
</div><!-- .nav -->
]

<INCLURE{fond=defaut/inc-nav-login}{module} />
