<div class="calvin">
	<div class="hobbes icare">
		<B_a>#ANCRE_PAGINATION
		<ul class="liste">
		<BOUCLE_a(ARTICLES){id_secteur}{!par date}{id_article ?}{pagination 5}>
		<li>
			<h2>#TITRE</h2>
			<div class="les-auteurs">
				Par : #LESAUTEURS[, le (#DATE|affdate)]
			</div>
			<div class="corps-article">
				[<div class="logo-article">(#LOGO_ARTICLE||image_reduire{60})</div>]
				[<div class="introduction">(#INTRODUCTION)</div>]
				<p><a href="#URL_ARTICLE"[ title="(#TITRE|attribut_html|couper{80}))"] class="lien-suite"><:explos:lire_la_suite:></a></p>
			</div>
		</li>
		</BOUCLE_a>
		</ul><!-- .liste-articles -->
		[<p class="pagination">(#PAGINATION)</p>]
		</B_a>	
	</div>
</div>

