<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{jaifait}">
		[<img src="(#CHEMIN{logos/jai-fait-transparent.png})" alt="<:explos_jaifait:jai_fait:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong><:explos_jaifait:jai_fait:></strong>
		</span>
		<span class="logo-description">
			<:explos_jaifait:carnet_des_explorateurs:>
		</span>
	</a>
</div><!-- #entete-logo -->
