[(#REM) Avec un cache, si on modifie le contenu,
cette partie n'est pas actualisee...]
#CACHE{0}

<BOUCLE_a(ARTICLES){id_article}{statut==.}>
<div class="previsu">
	<h2>#TITRE</h2>
	<div class="les-auteurs">Par #LESAUTEURS</div>
	
	<div class="corps-article">
		[<div class="logo-article">(#LOGO_ARTICLE||image_reduire{60})</div>]
		[<div class="chapo">(#CHAPO|image_reduire{300})</div>]
		[<div class="texte">(#TEXTE|image_reduire{300})</div>]
	</div>
	
	<INCLURE{fond=defaut/inc-documents}{id_article}{env} />
</div>
</BOUCLE_a>
