<div id="entete-contenu">
<!-- symboles l'un sur l'autre ou numero de photo mystere -->
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div>
<!-- titre et desriptif -->                                          
<h1><:explos_jaifait:carnets_du_jour:></h1>
<p><:explos_jaifait:description_carnet:></p>
</div><!-- #entete-contenu -->