<!-- nom=clictonflux -->
<div class="formulaire_spip formulaire_editer formulaire_cfg">

	[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
	[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
	#ACTION_FORMULAIRE{SELF}
	
	<fieldset><legend>Parametres de la page clictonflux</legend>
		<ul>
			<li class="editer_couleur_fond">
				<label>Couleur de fond de la page</label>
				[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_fond})</span>]
				<input type="text" name="couleur_fond" class="text cfg_couleur palette" value="#ENV{couleur_fond,#ebebeb}" size="7" />
			</li>
			<li class="editer_couleur_bord_boites">
				<label>Couleur de bordure des boites RSS</label>
				[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_bord_boites})</span>]
				<input type="text" name="couleur_bord_boites" class="text cfg_couleur palette" value="#ENV{couleur_bord_boites,#ddd}" size="7" />
			</li>
			<li class="editer_couleur_fond_boites">
				<label>Couleur de fond des boites RSS</label>
				[<span class='erreur'>(#ENV**{erreurs}|table_valeur{couleur_fond_boites})</span>]
				<input type="text" name="couleur_fond_boites" class="text cfg_couleur palette" value="#ENV{couleur_fond_boites,#eee}" size="7" />
			</li>
			<li>
				<label>Choix du nombre de news &agrave; afficher dans chaque bo&icirc;te</label>
				<input type="text" name="nb_news" class="text" value="#ENV{nb_news,3}" />
			</li>
			<li>
				<label>Choix du nombre du nombre de colonnes (HS)</label>
				<input type="text" name="nb_cols" class="text" value="#ENV{nb_cols,3}" />
			</li>
			<li>
				<label>Intitule de l'onglet listant toutes le news par date</label>
				<input type="text" name="date" class="text" value="#CONFIG{clictonflux/date, Infos par date}" />
			</li>
		</ul>
	</fieldset>
	<fieldset><legend>Parametres techniques</legend>
		<ul>
			<li>
				<label>Désactiver la gestion des flux en provenance de Flikr</label>
				<input type="checkbox" name="noflicker" [checked="(#ENV{noflicker})"] />
			</li>
			<li>
				<label>Interval de temps entre chaque rechargement de news</label>
				<input type="text" name="nb_min" class="text" value="#ENV{nb_min,60}" />
			</li>
			<li>
				<label>Nom du squelette OPML &agrave; utiliser</label>
				<input type="text" name="skel_opml" class="text" value="#ENV{skel_opml,opml}" />
			</li>
		</ul>
	</fieldset>

	<p class="boutons">
		<input type="submit" name="_cfg_ok" value="<:oK:>" class="submit" />
		<input type="submit" name="_cfg_delete" value="<:supprimer:>" class="submit" />
	</p>
</div></form>
</div>