<!-- titre=clictonflux -->
<!-- icone=images/clictonflux.png -->
<!-- descriptif=<h4>Configuration du plugin clictonflux.</h4> -->

#CACHE{0}
<div class="ajax">
	#FORMULAIRE_CONFIG_CLICTONFLUX
	<p class="explication"><a href="#URL_PAGE{clictonflux}">Afficher la page clictonflux</a></p>
	#CFG_ARBO{clictonflux}
</div>
