<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{portrait}">
		[<img src="(#CHEMIN{logos/portrait-transparent.png})" alt="<:explos_portrait:portrait:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong><:explos_portrait:portrait:></strong>
		</span>
		<span class="logo-description">
			De scientifique ou de patrimoine
		</span>
	</a>
</div><!-- #entete-logo -->
