<BOUCLE_cat_portraits(RUBRIQUES){id_parent=#ENV{secteur_module}}{par titre}>
<div class="nav">
	<h3>#TITRE</h3>
	<B_p>
	<ul>
	<BOUCLE_p(ARTICLES){id_rubrique}{!par date}{pagination 10}>
		<li><a href="[(#URL_ARTICLE)]">
			#TITRE
		</a></li>
	</BOUCLE_p>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
	</B_p>
</div><!-- .nav -->
</BOUCLE_cat_portraits>

<B_mes_portraits>
<div class="nav nav-mes-carnets">
<h3><:explos_portrait:portraits_en_redaction:></h3>
<ul>
<BOUCLE_mes_portraits(ARTICLES){id_secteur=#ENV{secteur_module}}{id_auteur=#SESSION{id_auteur}}{!par date}{pagination 10}{statut=prepa}>
		<li><a href="[(#URL_PAGE{soumettre_portrait}|parametre_url{carnet,#ID_ARTICLE})]">
			#TITRE <em>([(#DATE|affdate_court)])</em>
		</a></li>
</BOUCLE_mes_portraits>
</ul>
</div>
</B_mes_portraits>

<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{soumettre_portrait}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos_portrait:soumettre_un_portrait:>})]
	<strong><:explos_portrait:soumettre_un_portrait:></strong>
	</a>
</div><!-- .nav -->


<INCLURE{fond=defaut/inc-nav-login}{module} />
