<BOUCLE_art(ARTICLES){id_article}>
<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div>
<!-- titre et desriptif -->                                          
<h1><:explos_portrait:portrait:></h1>
<p><:explos_portrait:description_portrait:></p>
</div><!-- #entete-contenu -->
</BOUCLE_art>
<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div>
<!-- titre et desriptif -->                                          
<h1><:explos_portrait:portrait:></h1>
<p><:explos_portrait:description_portrait:></p>
</div><!-- #entete-contenu -->
<//B_art>
