<select name="id_rubrique">
	<option value=""></option>
	<BOUCLE_cat(RUBRIQUES){id_parent=#ID_SECTEUR}{tout}>
	<option value="#ID_RUBRIQUE"[ (#ENV{id_rubrique}|=={#ID_RUBRIQUE}|oui)selected="selected"]>#TITRE</option>
	</BOUCLE_cat>
</select>
