
<!-- depot=metapack -->
<!-- autoriser=configurer -->
<!-- nom=explos -->
<!-- casier=mystere -->

#CACHE{0}

<div class="formulaire_spip formulaire_cfg formulaire_exemple_configurer_site">
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
[(#ACTION_FORMULAIRE{#SELF})]

<ul>
[(#INCLURE{fond=fonds/inc-explos-secteurs}{env})]
[(#INCLURE{fond=fonds/inc-explos-couleurs}{env})]

	<li class="editer_devoiler[ (#ENV**{erreurs}|table_valeur{devoiler}|oui)erreur]">
		<label for="devoiler"><:explos_mystere:info_devoiler:></label>
		[<span class='erreur'>(#ENV**{erreurs}|table_valeur{devoiler})</span>]
		<p class="explications"><:explos_mystere:texte_devoiler_nb_jour:></p>
		<input type="text" name="devoiler" class="text type_idnum" value="#ENV{devoiler,7}"  />
	</li>
	<li class="editer_stoper_forum[ (#ENV**{erreurs}|table_valeur{stoper_forum}|oui)erreur]">
		<label for="devoiler"><:explos_mystere:info_stoper_forum:></label>
		[<span class='erreur'>(#ENV**{erreurs}|table_valeur{stoper_forum})</span>]
		<p class="explications"><:explos_mystere:texte_devoiler_nb_jour:></p>
		<input type="text" name="stoper_forum" class="text type_idnum" value="#ENV{stoper_forum,14}"  />
	</li>
	<li class="editer_formats_images[ (#ENV**{erreurs}|table_valeur{formats_images}|oui)erreur]">
		<label for="formats_images"><:explos_mystere:info_formats_images:></label>
		[<span class='erreur'>(#ENV**{erreurs}|table_valeur{formats_images})</span>]
		<p class="explications"><:explos_mystere:texte_formats_images:></p>
		<input type="text" name="formats_images" class="text" value="#ENV{formats_images,'jpg,png,gif'}"  />
	</li>
	<li class="editer_titre_article[ (#ENV**{erreurs}|table_valeur{titre_article}|oui)erreur]">
		<label for="titre_article"><:explos_mystere:info_titre_article:></label>
		[<span class='erreur'>(#ENV**{erreurs}|table_valeur{titre_article})</span>]
		<p class="explications"><:explos_mystere:texte_titre_article:></p>
		<input type="text" name="titre_article" class="text" value="#ENV{titre_article,'@numero@'}"  />
	</li>
	<li>
		<label><:explos_mystere:notation_hypotheses:></label>
		<p class="explication"><:explos_mystere:notation_hypotheses_explications:></p>
		<div class="choix">
			<input type="radio" name="noter_hypotheses" class="radio" id="_noter_hypotheses_on" value="oui" [(#ENV{noter_hypotheses,non}|=={oui}|oui) checked="checked"] />
			<label for='_noter_hypotheses_on'><:oui:></label>
		</div>
		<div class="choix">
			<input type="radio" name="noter_hypotheses" class="radio" id="_noter_hypotheses_off" value="non" [(#ENV{noter_hypotheses,non}|=={non}|oui) checked="checked"] />
			<label for='_noter_hypotheses_off'><:non:></label>
		</div>
	</li>
</ul>
<p class="boutons">
<input type="submit" name="_cfg_ok" class="submit" value="<:cfg:OK:>" />
</p>

</div></form>
</div>

