<B_mots>
<li class="editer_mot[ (#ENV**{erreurs}|table_valeur{id_mot}|oui)erreur]">
	<label for="id_mot"><:explos_mystere:choix_licence:></label>
	[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_mot})</span>]
	<select name="id_mot" id="id_mot">
		<option value=""></option>
		<BOUCLE_mots(MOTS){id_groupe = #CONFIG{explos/portail/groupe_mots_licence}} {par titre}>
		<option value="#ID_MOT"[ (#ENV{id_mot}|=={#ID_MOT}|oui)selected="selected"]>#TITRE</option>
		</BOUCLE_mots>
	</select>	
</li>
</B_mots>