
<fieldset class="previsu">
<legend><:previsualisation:></legend>
	<p class="explications"><:explos_mystere:explications_previsu:></p>
	<div class="previsu_question">
		<h2><:explos_mystere:question:></h2>
		[(#CHEMIN{#ENV{tmp_photo_question}}|inserer_attribut{alt,''}|image_reduire{100,100})]
	</div>
	<div class="previsu_reponse">
		<h2><:explos_mystere:reponse:></h2>
		[(#CHEMIN{#ENV{tmp_photo_reponse}}|inserer_attribut{alt,''}|image_reduire{100,100})]
	</div>
	<div class="previsu_texte">
		<h2><:explos_mystere:explications:></h2>
		[(#ENV*{texte}|lignes_longues)]
		[<div class="erreur_message">(#ENV*{erreur})</div>]
	</div>

[<p class="boutons">
	<input type="submit" name="confirmer_previsu_mysteric" class="submit" value="(#ENV*{bouton})" />
</p>]
</fieldset>

<br class="nettoyeur" />
