<div class='formulaire_spip formulaire_editer formulaire_editer_mysteric ajax'>
[(#REM) pour IE qui sinon se perd dans l'ajax !, ne pas retirer]<br class='bugajaxie' />
[(#REM)
	cette div qui permet a l'ajax de ne pas se viander
	a  cause des 2 formulaires sur la meme page
]<div>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class='reponse_formulaire reponse_formulaire_erreur'>(#ENV*{message_erreur})</p>]
	[(#ENV{editable})

		[<form action="#ENV{action}#formulaire_mystere" method="post"><div>
		[(#ACTION_FORMULAIRE{#ENV{url_post}})]
		[<input type="hidden" name="arg" value="(#ENV{arg})" />]
		[<input type="hidden" name="hash" value="(#ENV{hash})" />]
		[<input type="hidden" name="verif_(#ENV{hash})" value="ok" />]
		[<input type="hidden" name="afficher_texte" value="(#ENV{afficher_texte})" />]
		[<input type="hidden" name="retour_forum" value="(#ENV*{retour_forum})" />]
		<input type='hidden' name='texte' value="#ENV{texte}" />
		<input type='hidden' name='id_mot' value="#ENV{id_mot}" />
		(#ENV*{erreurs}|table_valeur{previsu})
		</div></form>]

	
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='cle_mystere' class="hidden" value="#ENV{cle_mystere}" />
		[(#ENV{cle_mystere}|=={#ENV{nouvelle_cle_mystere}}|oui)
			<input type='hidden' name='nouvelle_demande' class="hidden" value="oui" />
		]
		<ul>
			<li class="editer_photo editer_photo_question obligatoire[ (#ENV**{erreurs}|table_valeur{photo_question}|oui)erreur]">
				[(#ENV{tmp_photo_question}|oui)
					[(#CHEMIN{#ENV{tmp_photo_question}}
						|image_reduire{40,40}
						|inserer_attribut{alt,''}
						|inserer_attribut{class,logo_liste_formulaire})]
				]
				<label for="photo_question"><:explos_mystere:info_photo_question:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{photo_question})</span>]
				<input type='file' name='photo_question' id='photo_question' class='file' value="" />
				[<input type="hidden" class="hidden" name="cle_photo_question" value="(#ENV{cle_photo_question})" />]
			</li>

			<li class="editer_photo editer_photo_reponse obligatoire[ (#ENV**{erreurs}|table_valeur{photo_reponse}|oui)erreur]">
				[(#ENV{tmp_photo_reponse}|oui)
					[(#CHEMIN{#ENV{tmp_photo_reponse}}
						|image_reduire{40,40}
						|inserer_attribut{alt,''}
						|inserer_attribut{class,logo_liste_formulaire})]
					]
				<label for="photo_reponse"><:explos_mystere:info_photo_reponse:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{photo_reponse})</span>]
				<input type='file' name='photo_reponse' id='photo_reponse' class='file' value="" />
				[<input type="hidden" class="hidden" name="cle_photo_reponse" value="(#ENV{cle_photo_reponse})" />]
			</li>
			[(#INCLURE{fond=formulaires/inc-choix-mots-mysteric}{env})]
			<li class="editer_texte[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
				<label for="text_area"><:explos_mystere:info_texte_reponse:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>]
				<textarea name='texte' id='text_area' rows='8' cols='40'>[(#ENV**{texte})]</textarea>
			</li>
		</ul>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input class='submit' type='submit' value='<:explos_mystere:bouton_voir_avant_envoi:>' /></p>
	</div></form>
	]
</div>
</div>
