<div class='formulaire_spip formulaire_editer formulaire_editer_rubrique formulaire_editer_rubrique-#ENV{id_rubrique,nouveau}'>
	<!-- <br class='bugajaxie' /> -->
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
	  <input type='hidden' name='id_rubrique' value='#ENV{id_rubrique}' />
	  <ul>
	    <li class="editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
			<label for="titre"><:info_titre:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>]
			<input type='text' class='text' name='titre' id='titre' value="[(#ENV**{titre,#REM|concat{explos_flog:nouvelle_problematique}|_T})]"/>
	    </li>

	 	<input type="hidden" name="id_parent" value="#ENV{id_parent}" />
		<input type="hidden" value="oui" name="confirme_deplace"/>
	    
	  	[(#ENV**{config}|table_valeur{rubriques_descriptif}|=={non}|?{#ENV**{descriptif,''},' '}|?{' '})
	    <li class="editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
			<label for="descriptif"><:texte_descriptif_rapide:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{desctiptif})</span>]
			<textarea name='descriptif' id='descriptif' rows='2' cols='40'>[(#ENV**{descriptif})]</textarea>
	    </li>]
	  	[(#ENV**{config}|table_valeur{rubriques_texte}|=={non}|?{#ENV**{texte,''},' '}|?{' '})
	    <li class="editer_texte[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
			<label for="text_area"><:info_texte_explicatif:></label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>]
			[(#ENV**{_texte_trop_long,''})]
			<textarea name='texte' id='text_area' class='barre_inserer' rows='[(#ENV**{config}|table_valeur{lignes}|plus{2})]' cols='40'[
			(#ENV**{_browser_caret,''})]>[(#ENV**{texte})]</textarea>
	    </li>]
	  </ul>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
