<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{annuaire}">
		[<img src="(#CHEMIN{logos/annuaire-transparent.png})" alt="<:explos_annuaire:titre_module:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong>Annuaire</strong> <:explos:explorateurs:>
		</span>
		<span class="logo-description">
			A visiter sans modération !
		</span>
	</a>
</div><!-- #entete-logo -->

