<B_syndic>
[<p class="pagination">(#PAGINATION{page}{separateur=" "})</p>]
<ul class="liste">
<BOUCLE_syndic(SYNDIC_ARTICLES){id_secteur=#ID_RUBRIQUE}{!par date}{pagination 3}{0,30}>
	<li>
		<h3>[<a href="#URL_ARTICLE" title="(#TITRE|attribut_html|couper{80})">]#TITRE</a></h3>
		[(#DESCRIPTIF|couper{120}|paragrapher)]
		[<a href="#URL_ARTICLE" title="(#TITRE|attribut_html|couper{80})" class="lien-suite spip_out">[<:explos_annuaire:lire_sur:> (#NOM_SITE)]</a>]
	</li>
</BOUCLE_syndic>
</ul>
</B_syndic>
