<B_p>
<div class="nav nav-questions">
	<h3><:explos_annuaire:categories:></h3>
	<ul>
	<BOUCLE_p(RUBRIQUES){id_parent=#ENV{secteur_module}}{par titre}>
		<li[ class="(#EXPOSE)"]><a href="#URL_RUBRIQUE">#TITRE</a></li>
	</BOUCLE_p>
	</ul>
</div><!-- .nav -->
</B_p>

<B_s>
<div class="nav nav-solutions">
	<h3><:explos_annuaire:sites_au_hasard:></h3>
	<ul>
	<BOUCLE_s(SITES){id_secteur=#ENV{secteur_module}}{par hasard}{0,5}>
		<li><a href="[(#ID_RUBRIQUE|generer_url_entite{rubrique,'','',#CONNECT}|parametre_url{id_syndic,#ID_SYNDIC}|url_absolue)]"[ title="(#NOM_SITE|attribut_html|couper{80})"]>[(#NOM_SITE|couper{40})]</a></li>
	</BOUCLE_s>
	</ul>
</div><!-- .nav -->
</B_s>

<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{carte_galactique}">
	[(#CHEMIN{pictos/outils/RSS.png}|image_reduire{60}|inserer_attribut{alt,Carte galactique})]
	<strong><:explos_annuaire:clictonflux:></strong>
	</a>

	<a class="nyroceros" href="#URL_PAGE{soumettre_site,id_rubrique=#ENV{id_rubrique}}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Proposer un site})]
	<strong><:explos_annuaire:proposer_site:></strong>
	</a>
</div><!-- .nav -->

<INCLURE{fond=defaut/inc-nav-login}{module} />
