<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div><!-- titre et desriptif -->                                          
<h1><:explos_annuaire:annuaire:></h1>
<p><:explos_annuaire:description_annuaire:></p>
</div><!-- #entete-contenu -->
