<BOUCLE_art(ARTICLES){id_article}>
<div class="colonne colonneA">
	<div class="colonne-contenu">
		<h2><:explos:question_du_jour:></h2>
		<div class="cadre-question">
			#TEXTE
		</div>
		
		<B_reponses>
		<ul class="liste-messages">
		<BOUCLE_reponses(FORUMS){id_article}{plat}{!par date}>
			<li>
				#FORMULAIRE_NOTATION
				[(#NOM|oui)<strong>Réponse de #NOM</strong>]
				[(#NOM|non)<strong>Réponse anonyme</strong>]
				#TEXTE
			</li>
		</BOUCLE_reponses>
		</ul>
		</B_reponses>
	</div><!-- .colonne-contenu -->
</div><!-- .colonneA.colonne -->

<div class="colonne colonneB">
	#SET{messages_article,#ARRAY{0,0}}
	<BOUCLE_messages_article(FORUMS){id_article}>
	#SET{messages_article,#GET{messages_article}|push{#ID_FORUM}}
	</BOUCLE_messages_article>
	<BOUCLE_meilleure_note(NOTATIONS_OBJETS){id_forum IN #GET{messages_article}}{!par note}{0,1}>
	#SET{meilleur_message,#ID_FORUM}
	</BOUCLE_meilleure_note>
	<B_meilleure_reponse>
	<div class="colonne-contenu reponse">
		<h2><:explos:question_meilleure_reponse:></h2>
		<BOUCLE_meilleure_reponse(FORUMS){id_forum = #GET{meilleur_message}}>
		#TEXTE
		</BOUCLE_meilleure_reponse>
	</div>
	</B_meilleure_reponse>
	<div class="colonne-contenu ajax">
		[(#FORMULAIRE_ECRIRE_UN_MESSAGE{#ID_ARTICLE,
			[(#ARRAY{
				label,<:explos_questions:je_propose_une_reponse:>,
				message,<:explos_questions:reponse:>,
				bouton,<:explos_questions:soumettre_reponse:>,
				ok,<:explos_questions:reponse_soumise:>
			})]})]
	</div><!-- .colonne-contenu -->
</div><!-- #colonneB.colonne -->
</BOUCLE_art>
