<BOUCLE_art(ARTICLES){id_article}>
<div class="cal">
	<div class="hobbes">
		<h2>#TITRE</h2>
		<div class="texte">#TEXTE</div>
	</div><!-- .hobbes -->
</div><!-- .cal -->

<div class="vin">
	<B_meilleure_reponse>
	<div class="gromit meilleure_reponse">
		<h2><:explos_questions:meilleure_reponse:></h2>
		<BOUCLE_meilleure_reponse(FORUMS){notation nombre_votes>0}{!par moyenne}{0,1}{id_article}>
		[(#NOM|oui)<strong>Réponse de #NOM</strong>]
		[(#NOM|non)<strong>Réponse anonyme</strong>]
		#TEXTE
		</BOUCLE_meilleure_reponse>
	</div>
	</B_meilleure_reponse>
	
	<div class="hobbes ajax">
		[(#FORMULAIRE_ECRIRE_UN_MESSAGE{#ID_ARTICLE,
			[(#ARRAY{
				label,<:explos_questions:je_propose_une_reponse:>,
				message,<:explos_questions:reponse:>,
				bouton,<:explos_questions:soumettre_reponse:>,
				ok,<:explos_questions:reponse_soumise:>
			})]})]
	</div><!-- .hobbes -->
</div><!-- .vin -->

<br class="nettoyeur" />

<div class="wal">
	<div class="gromit">
		<B_reponses>
		<ul class="liste">
		<BOUCLE_reponses(FORUMS){id_article}{plat}{!par date}>
			<li>
				#FORMULAIRE_NOTATION
				[(#NOM|oui)<strong>Réponse de #NOM</strong>]
				[(#NOM|non)<strong>Réponse anonyme</strong>]
				#TEXTE
			</li>
		</BOUCLE_reponses>
		</ul>
		</B_reponses>
	</div><!-- .grommit -->
</div><!-- .wal -->

<br class="nettoyeur" />


</BOUCLE_art>
