<BOUCLE_art(ARTICLES){id_article}>
<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div><!-- titre et desriptif -->                                          
<h1><:explos:question_du_jour:></h1>
<p>#TITRE</p>
</div><!-- #entete-contenu -->
</BOUCLE_art>
<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div><!-- titre et desriptif -->                                          
<h1><:explos_questions:boite_questions:></h1>
<p><:explos_questions:description_questions:></p>
</div><!-- #entete-contenu -->
<//B_art>
