<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{questions}">
		[<img src="(#CHEMIN{logos/questions-transparent.png})" alt="<:explos_questions:questions:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong>Boîte</strong> à questions
		</span>
		<span class="logo-description">
			Le pourquoi du comment !
		</span>
	</a>
</div><!-- #entete-logo -->

