<div class="nav nav-questions">
	<h3>Questions pr&eacute;c&eacute;dentes</h3>
	<B_p>
	<ul>
	<BOUCLE_p(ARTICLES){id_secteur=#ENV{secteur_module}}{age>=0}{!par date}{pagination 10}>
		<li><a href="#URL_ARTICLE">[(#TITRE)]</a></li>
	</BOUCLE_p>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
	</B_p>
</div><!-- .nav -->

<div class="nav nav-solutions">
	<h3>Réponses</h3>
	<B_s>
	<ul>
	<BOUCLE_s(FORUMS){id_secteur=#ENV{secteur_module}}{plat}{!par date}{pagination 10}>
		<li><a href="#URL_FORUM"[ title="(#TITRE|attribut_html|couper{80})"]>[(#TEXTE|couper{40})]</a></li>
	</BOUCLE_s>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
	</B_s>
</div><!-- .nav -->

<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{soumettre_question}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Sousmettre une question})]
	<strong>Soumettre une question</strong>
	</a>
</div><!-- .nav -->

<INCLURE{fond=defaut/inc-nav-login}{module} />
