
<!-- depot=metapack -->
<!-- autoriser=configurer -->
<!-- nom=explos -->
<!-- casier=leondit -->

#CACHE{0}


<div class="formulaire_spip formulaire_cfg formulaire_exemple_configurer_site">
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
#ACTION_FORMULAIRE{#SELF}

<ul>
[(#INCLURE{fond=fonds/inc-explos-secteurs}{env})]
[(#INCLURE{fond=fonds/inc-explos-couleurs}{env})]

	<li>
		<label><:explos_leondit:notation_messages:></label>
		<p class="explication"><:explos_leondit:notation_messages_explications:></p>
		<div class="choix">
			<input type="radio" name="noter_messages" class="radio" id="_noter_messages_on" value="oui" [(#ENV{noter_messages,non}|=={oui}|oui) checked="checked"] />
			<label for='_noter_messages_on'><:oui:></label>
		</div>
		<div class="choix">
			<input type="radio" name="noter_messages" class="radio" id="_noter_messages_off" value="non" [(#ENV{noter_messages,non}|=={non}|oui) checked="checked"] />
			<label for='_noter_messages_off'><:non:></label>
		</div>
	</li>
</ul>
<p class="boutons">
<input type="submit" name="_cfg_ok" class="submit" value="<:cfg:OK:>" />
</p>

</div></form>
</div>
