<BOUCLE_art(RUBRIQUES){id_rubrique}>
<div id="entete-contenu">
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div><!-- titre et desriptif -->                                          
<h1><:explos_flog:titre_flog:></h1>
<p><:explos_flog:description_flog:></p>
</div><!-- #entete-contenu -->
</BOUCLE_art>
