<B_articles>
<div class="vin">
	<div class="hobbes">
		<h2>#GRAND_TOTAL[ (#GRAND_TOTAL|>{1}|?{<:articles:>,<:article:>}) en cours de rédaction]</h2>
		#ANCRE_PAGINATION
		<ul>
			<BOUCLE_articles(ARTICLES){id_secteur}{id_auteur}{!par date}{statut = prepa} {pagination 10}>
			<li>[<a href="(#URL_PAGE{previsualiser}|parametre_url{id_article,#ID_ARTICLE})">#TITRE</a>][ (<em>(#DATE|affdate_court)</em>)]</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
</div>
</B_articles>