<B_syntheses_prepa>
<div class="calvin">
	<h2><:explos_flog:syntheses_prepa:></h2>
	<div class="hobbes">
		<ul class="liste">
		<BOUCLE_syntheses_prepa(ARTICLES){id_rubrique}{!par date}{pagination 5}{statut = prepa}>
			<li>
				<h3>#TITRE</h3>
				[(#TEXTE|couper{250}|paragrapher)]
				[ <a href="[(#URL_PAGE{soumettre_synthese}|parametre_url{carnet,#ID_ARTICLE}|parametre_url{id_rubrique,#ID_RUBRIQUE})]" class="lien-suite"><:explos_flog:editer_synthese:></a> ]
				[ <a href="[(#URL_PAGE{previsualiser}|parametre_url{id_article,#ID_ARTICLE})]" class="lien-suite"><:explos_flog:previsu_synthese:></a> ]
			</li>
		</BOUCLE_syntheses_prepa>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div><!-- .hobbes -->
</div><!-- .cal -->
</B_syntheses_prepa>