<B_syntheses>
<div class="calvin">
	<h2><:explos_flog:syntheses:></h2>
	<div class="hobbes">
		<ul class="liste">
		<BOUCLE_syntheses(ARTICLES){id_rubrique}{!par date}{pagination 5}>
			<li>
				<h3>#TITRE</h3>
				<p><small><abbr class="published" title="[(#DATE|date_iso)]">[(#DATE|nom_jour) ][(#DATE|affdate)]</abbr></small></p>
				[(#TEXTE|couper{250}|paragrapher)]
				[<a href="#URL_ARTICLE" title="(#TITRE|attribut_html|couper{80})" class="lien-suite"><:explos:lire_la_suite:></a>]
			</li>
		</BOUCLE_syntheses>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div><!-- .hobbes -->
</div><!-- .cal -->
</B_syntheses>