<B_flogs>
#ANCRE_PAGINATION
<BOUCLE_flogs(RUBRIQUES){id_parent}{age>=0}{!par date}{pagination 6}>
<div class="[(#COMPTEUR_BOUCLE|alterner{'cal','vin'})]">
	<div class="hobbes">
		<h3>#TITRE</h3>
		[(#TEXTE|couper{250}|paragrapher)]
		[<a href="#URL_RUBRIQUE" title="(#TITRE|attribut_html|couper{80})" class="lien-suite"><:explos:lire_la_suite:></a>]
	</div>
</div><!-- .cal ou .vin -->
[(#COMPTEUR_BOUCLE|alterner{'','<br class="nettoyeur" />'})]
</BOUCLE_flogs>
[<p class="pagination">(#PAGINATION)</p>]
</B_flogs>