<div class="nav nav-questions">
	<h3>Sujets pr&eacute;c&eacute;dents</h3>
	<B_p>
	<ul>
	<BOUCLE_p(RUBRIQUES){id_parent=#ENV{secteur_module}}{age>=0}{!par date}{pagination 10}>
		<li><a href="#URL_RUBRIQUE">#TITRE</a></li>
	</BOUCLE_p>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
	[<p class="archives"><a href="(#URL_PAGE{archives_flog})"><:explos_flog:voir_archives:></a></p>]
	</B_p>
</div><!-- .nav -->

#SET{articles_flog,#ARRAY{0,0}}
<BOUCLE_articles_rubrique(ARTICLES){id_rubrique}>
#SET{articles_flog,(#GET{articles_flog}|push{#ID_ARTICLE})}
</BOUCLE_articles_rubrique>

<B_m>
<div class="nav nav-questions">
	<h3><:explos_flog:membres_flog:></h3>
	<ul>
	<BOUCLE_m(AUTEURS){id_article IN #GET{articles_flog}}{doublons} {par nom}{pagination 10}>
		<li><a href="#URL_AUTEUR">#NOM</a></li>
	</BOUCLE_m>
	</ul>
	[<p class="pagination">(#PAGINATION)</p>]
</div><!-- .nav -->
</B_m>

<B_mes_syntheses>
<div class="nav nav-mes-carnets">
<h3><:explos_flog:syntheses_prepa:></h3>
<ul>
<BOUCLE_mes_syntheses(ARTICLES){id_rubrique}{id_auteur=#SESSION{id_auteur}}{!par date}{pagination 10}{statut=prepa}>
		<li><a href="[(#URL_PAGE{soumettre_synthese}|parametre_url{carnet,#ID_ARTICLE}|parametre_url{id_rubrique,#ID_RUBRIQUE})]">
			#TITRE <em>([(#DATE|affdate_court)])</em>
		</a></li>
</BOUCLE_mes_syntheses>
</ul>
</div>
</B_mes_syntheses>

<div class="nav nav-liste-actions">
[(#ENV{auth_ok}|oui)
	<a href="[(#URL_PAGE{soumettre_synthese}|parametre_url{id_rubrique,#ID_RUBRIQUE})]">
	[(#CHEMIN{pictos/outils/ajouter.png}|image_reduire{60}|inserer_attribut{alt,<:explos_flog:soumettre_une_synthese:>})]
	<strong><:explos_flog:soumettre_une_synthese:></strong>
	</a>]
[(#SESSION{statut}|=={0minirezo}|oui)
	<a href="#URL_PAGE{soumettre_problematique}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos_flog:soumettre_une_problematique:>})]
	<strong><:explos_flog:soumettre_une_problematique:></strong>
	</a>]
</div><!-- .nav -->

<INCLURE{fond=defaut/inc-nav-login}{module} />
