<BOUCLE_rub(RUBRIQUES){id_rubrique}>

	<div class="calvin">
		<h2>#TITRE</h2>
		<div class="hobbes">
			<h3>Problématique</h3>
			[(#TEXTE)]
		</div>
	</div>

	<INCLURE{fond=flog/inc-articles}{id_rubrique}{ajax} />
	
	[(#ENV{auth_ok}|oui)
	<INCLURE{fond=flog/inc-articles-prepa}{id_rubrique}{ajax} />]
	
<br class="nettoyeur" />

[(#ENV{auth_ok}|oui)
<INCLURE{fond=flog/inc-forum-rubrique}{id_rubrique} />]

</BOUCLE_rub>
