<B_coms>
<div class="wallace">
	<h2><:explos_flog:discussions:></h2>
	<div class="gromit icare">
		<ul class="forum liste">
			<BOUCLE_coms(FORUMS) {articles.id_rubrique} {plat} {!par date} {0,8}>
			<li>
				<div class="forum-chapo">
					<strong>En réponse à :<BOUCLE_titre_article(ARTICLES){id_article}>[ (#TITRE)]</BOUCLE_titre_article></strong>
					<small>[- Le (#DATE|affdate_jourcourt)][&nbsp;(#DATE|heures)][:(#DATE|minutes)][, <:par_auteur:> <span class="#EDIT{qui}">(#NOM|couper{80})</span>]</small>
				</div>
				[(#TEXTE|couper{350}|paragrapher)]
				<a href="#URL_FORUM" class="lien-forum">Lire le message</a>
			</li>
			</BOUCLE_coms>
		</ul>
	</div>
</div>
</B_coms>