<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{flog}">
		[<img src="(#CHEMIN{logos/flog-transparent.png})" alt="<:explos_flog:flog:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong><:explos_flog:flog:></strong> <:explos:explorateurs:>
		</span>
		<span class="logo-description">
			Sciences et société
		</span>
	</a>
</div><!-- #entete-logo -->

