<B_mystere>
<div class="mysteric_reponse">

<BOUCLE_mystere(ARTICLES){id_article}>
	<BOUCLE_visible(ARTICLES){id_article}{age>=#CONFIG{explos/mystere/devoiler,7}}>
		<BOUCLE_reponse(DOCUMENTS){id_article}>
		<div class="mysteric_reponse_ok">
		[(#ENV{reponse}|=={oui}|oui)
			<h2>Reponse !</h2>
			[<a class="mysteric_image_reponse" href="(#FICHIER|image_reduire{800}|extraire_attribut{src})" alt="[(#TITRE|couper{80}|texte_backend)]">
			[(#FICHIER
				|image_reduire{#ENV{taille_max,200},#ENV{taille_max,200}}
				|inserer_attribut{class,spip_logos}
				|inserer_attribut{alt,[(#TITRE|couper{80}|texte_backend)]})]
			</a>]
		]
		[(#ENV{reponse}|=={oui}|non)
			[<a class='ajax' href="(#SELF|parametre_url{mystere,#ID_ARTICLE}|parametre_url{reponse,oui})">Voir la réponse</a><br />]
		]
		</div><!-- .mysteric_reponse_ok -->
		</BOUCLE_reponse>
			<div class="mysteric_reponse_erreur">
				La reponse a disparue !!
			</div>
		<//B_reponse>
	</BOUCLE_visible>
		<div class="mysteric_reponse_non_publiee">
			Reponse non encore publiée !
		</div>
	<//B_visible>
</BOUCLE_mystere>
</div><!-- .mysteric_reponse -->
</B_mystere>
	<div class="mysteric_reponse_erreur">
		Myst&egrave;re inexistant !
	</div>
<//B_mystere>
