#CACHE{0}
<div class='mysteric_all'>
[(#REM)
	difficile d'avoir un mystere et le passer dans id_article...
	idealement, il suffirait de {id_article?=#GET{mystere}}
	mais ce n'est pas accepte a cette heure-ci
	par le compilo de spip rev.11912
]
[(#SET{mystere,(^[(#ENV{mystere,.*})]$)})]
<BOUCLE_article(ARTICLES) 
	{id_rubrique=#CONFIG{explos/mystere/secteur,0}}
	{id_article==#GET{mystere}}
	{0,1}
	{par #ENV{tri,date}}
	{inverse #ENV{sens_tri,1}}>

	<div class="mysteric_question">
		<h2>Question !</h2>
		[(#LOGO_ARTICLE||
			|image_reduire{#ENV{taille_max,200},#ENV{taille_max,200}})<br />]
	</div>

	[(#INCLURE{fond=noisettes/mysteric_reponse}{id_article}{reponse}{taille_max})]

</BOUCLE_article>
	Il n'y a pas de mystère pour vous !
<//B_article>
</div>	
