[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|texte_backend)][ - (#VAL{"Photo Mystère des Explorateurs"}|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	[<description>(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)</description>]
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{width})</width>]
	</image>
]

<BOUCLE_10recents(ARTICLES){age>=0}{id_article ?}{branche ?}{par date}{inverse}{0,10}>
	<item[ xml:lang="(#LANG)"]>
		<title>[(#TITRE|supprimer_numero|texte_backend)]</title>
		<link>[(#URL_ARTICLE|url_absolue)]</link>
		[<guid isPermaLink="true">(#URL_ARTICLE|url_absolue)</guid>]
		[<dc:date>(#DATE|date_iso)</dc:date>]
		<dc:format>text/html</dc:format>
		[<dc:language>(#LANG)</dc:language>]
		[<dc:creator>(#LESAUTEURS|supprimer_tags|texte_backend)</dc:creator>]

[(#REM)	Le bloc qui suit diffuse la rubrique a la mode RSS]

<BOUCLE_rubrique_rss(RUBRIQUES){id_rubrique}>[<category[ domain="(#URL_PAGE{mystere}|url_absolue)"]>(#TITRE|supprimer_numero|texte_backend)</category>]</BOUCLE_rubrique_rss>

		<description>[(#INTRODUCTION|texte_backend)]

[(#REM)	Le bloc qui suit diffuse la rubrique sous forme de "microformats"]

<BOUCLE_rubrique_mf(RUBRIQUES){id_rubrique}>
[&lt;a href="[(#URL_PAGE{mystere}|url_absolue)]" rel="directory"&gt;(#TITRE|supprimer_numero|texte_backend)&lt;/a&gt;]
</BOUCLE_rubrique_mf>

		</description>

		<content:encoded>
		[(#LOGO_ARTICLE||image_reduire{250,250}|texte_backend)]
		</content:encoded>

	</item>
</BOUCLE_10recents>


</channel>

</rss>