
<h4>C'est quoi le  Erressesse ? </h4>
<p>Jusqu'à présent, il y existait 2 façons d'accéder à l'information, et ses mises à jour, sur le web :</p>
<ul>
  <li> aller sur les sites pour y consulter l'information (modèle Pull). L'inconvénient est qu'il y a un manque de réactivité en cas de mises à jour de l'information.</li>
  <li>s'inscrire à la newsletter du site pour recevoir l'information par mail (modèle Push). Le problème est que les mails peuvent vite devenir nombreux et risquent de se noyer dans les spams.</li>
</ul>
<p>Maintenant, il y a la syndication RSS, une autre forme de Push mais moins intrusive et beaucoup plus fonctionnelle que la newsletter.</p>
<p>La syndication RSS permet de mettre à disposition un contenu (articles, brèves d'actu, billets de blog, dernières mises à jours...) pour une utilisation ailleurs que sur le site d'origine. Cela permet notamment d'afficher sur un site A, les dernières actus d'un site B pour une meilleur diffusion de l'information. Beaucoup de Système de gestion de Contenu (CMS) tels SPIP, DotClear, WiKi... intègrent la gestion de flux RSS.
  Mais ce n'est pas tout.
<a href="http://fr.wikipedia.org/wiki/Really_simple_syndication" onclick="window.open(this.href); return false;">Plus d'infos sur Wikipedia</a></p>
<p><strong>Agrégateurs</strong></p>
<p>Il est aussi possible de consulter les flux RSS (ou fils RSS) grâce à des logiciels spécifiques appelés agrégateurs RSS comme une sorte de revue de presse personnalisée.
  <a href="http://fr.wikipedia.org/wiki/Agrégateur" onclick="window.open(this.href); return false;" >Plus d'infos sur Wikipedia</a>. Il existe 2 types d'agr&eacute;gateurs : </p>
<ul>
  <li> Agrégateurs en ligne : les flux sont affichés dans une interface web accessible de partout avec identification (<a href="http://www.netvibes.com/" onclick="window.open(this.href); return false;">Netvibes</a> / <a href="http://www.linkedfeed.com/" onclick="window.open(this.href); return false;">LinkedFeed</a> / <a href="http://www.google.com/ig?hl=fr" onclick="window.open(this.href); return false;">Google</a> / <a href="http://fr.my.yahoo.com/" onclick="window.open(this.href); return false;">MyYahoo</a>).</li>
  <li>Agrégateurs logiciels : les flux sont affichés dans un logiciel spécifique sous différentes formes (<a href="http://www.feedreader.com/" onclick="window.open(this.href); return false;">FeedReader</a> / <a href="http://www.rssreader.com/" onclick="window.open(this.href); return false;">RSS Reader</a>).</li>
</ul>
<p>Vous trouverez une liste détaillée sur <a href="http://fr.wikipedia.org/wiki/Liste_de_lecteurs_RSS">Wikipédia</a> et sur <a href="http://www.framasoft.net/rubrique393.html" onclick="window.open(this.href); return false;">Framasoft</a></p>
<h4>Comment proposer un flux</h4>
<p>Si le flux RSS du site que vous proposez concerne ce thème, envoyez un mail <a href="mailto:toto@toto.com">toto@toto.com</a> avec les URL du site et du flux.</p>
<br />
<br />