[(#CACHE{3600})[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]]<?xml version="1.0"[ encoding="(#CHARSET)"]?>
<opml version="1.1">

<head>
	<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
	<dateCreated>[(#DATE|affdate{'Y-m-d'}|date_822)]</dateCreated>
</head>
<body>
<BOUCLE_rub_site(RUBRIQUES){racine}>
<B_syndic>
<outline text="[(#_rub_site:TITRE|texte_backend)]">
<BOUCLE_syndic(SITES){id_rubrique}{syndication=oui} {par nom_site}>
<outline 
	type="rss" 
	text="[(#NOM_SITE|texte_backend)]" 
	title="[(#NOM_SITE|texte_backend)]" 
	xmlUrl="#URL_SYNDIC" 
	nbItems="#CONFIG{clictonflux/nb_news,5}" 
	description="[(#DESCRIPTIF|supprimer_tags|texte_backend)]" 
	version="RSS" 
	htmlUrl="#URL_SITE" 
	language=<BOUCLE_lang(RUBRIQUES) {id_rubrique}>["(#LANG)"]</BOUCLE_lang>
	id="#ID_SYNDIC"
/>
</BOUCLE_syndic>
</outline>
</B_syndic>
</BOUCLE_rub_site>
</body>
</opml>