#CACHE{7*24*3600,cache-client}
#HTTP_HEADER{'Content-Type: text/javascript'}

var feedsUrlArray = new Array() ;
var columnParentBoxId = new Array();


function readOPML(winID)
{
	var ajaxIndex = ajaxObjects.length;
	ajaxObjects[ajaxIndex] = new sack();
	ajaxObjects[ajaxIndex].requestFile = '#CHEMIN{readOPML.php}?f=' + opmlFile ;	// Specifying which file to get
	ajaxObjects[ajaxIndex].onCompletion = function(){ createTabs(ajaxIndex, winID); };	// Specify function that will be executed after file has been found
	ajaxObjects[ajaxIndex].runAJAX();		// Execute AJAX function			
}

function createTabs(ajaxIndex, winID)
{
	var catsArray = new Array();
	var rssContent = ajaxObjects[ajaxIndex].response;
	
	rssContent += '\n\n' + titleTabSortByDate ;
	if( trace ) {
		rssContent += '\n\n' + titreTabTraces ;
	}
	
	var cats = rssContent.split(/\n\n/g);
	var objParent = document.getElementById(winID);
	
	numberOfTabs = cats.length ;
	numTabDate = numberOfTabs - additionalTabs ;
	numTabTraces = numberOfTabs - 1 ;
	numberOfCats = numberOfTabs - additionalTabs ;

	for(var no=0 ; no<cats.length ; no++){	// Looping through cats
		var itemCats = cats[no].split(/#;#/g);
		// Category title : itemCats[0]
		catsArray[no] = itemCats[0] ;
		feedsUrlArray[no] = new Array() ;

		var div = document.createElement('DIV');
		div.className='winWithTabsContent';	
		var innerDiv = document.createElement('DIV');
		innerDiv.id = 'winWithTabsParentContainer' + no ;
		columnParentBoxId[no] = innerDiv.id ;
		div.appendChild(innerDiv);
		objParent.appendChild(div);

		for(var no2=1 ; no2<itemCats.length ; no2++){	// Looping through ItemCats
			var feed = itemCats[no2].split(/##/g);
			feedsUrlArray[no][no2-1] = new Array() ;
			feedsUrlArray[no][no2-1]['siteTitle'] = feed[0] ;
			feedsUrlArray[no][no2-1]['rssUrl'] = feed[1] ;
			feedsUrlArray[no][no2-1]['nbItems'] = feed[2] ;
			feedsUrlArray[no][no2-1]['forcedTitle'] = feed[3] ;
		}
	}
	
	initWindowWithTabs(winID,catsArray,hauteur_fenetre()-170,largeur_fenetre()-20,10,130);
	// Arguments to function :
	// 1. ID of window
	// 2. array of tab names
	// 3. Initial window height
	// 4. Initial window width
	// 5. left position(could be overriden by cookies)
	// 6. top position(could be overridden by cookies)
	// 7. No scrollbars
	// 8. No resize handle
	// 9. No status bar
	
	initRssBoxesScript();
	
	var agregators = new Array() ;
	var n = 0 ;
	agregators[n] = new Array() ; agregators[n]['title'] = "Netvibes" ; agregators[n]['url'] = "http://www.netvibes.com" ; n++; 
	agregators[n] = new Array() ; agregators[n]['title'] = "Google" ; agregators[n]['url'] = "http://www.google.com/ig?hl=fr" ; n++; 
	agregators[n] = new Array() ; agregators[n]['title'] = "My Yahoo !" ; agregators[n]['url'] = "http://fr.my.yahoo.com/" ; n++; 

	var text = txt_goToMyAgregator ;
	for(var i=0; i<n ; i++) {
		text = text + "[<a href=\"" + agregators[i]['url'] + "\">" + agregators[i]['title'] + "<\a>]&nbsp;&nbsp;";
	}
	addTextInStatusBar(text) ;
}
