
<!-- depot=metapack -->
<!-- autoriser=configurer -->
<!-- nom=explos -->
<!-- casier=questions -->

#CACHE{0}


<div class="formulaire_spip formulaire_cfg formulaire_exemple_configurer_site">
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]
[<p class="formulaire_message">(#ENV*{message_ok})</p>]

<form method="post" action="#SELF"><div>
#ACTION_FORMULAIRE{#SELF}

<ul>
[(#INCLURE{fond=fonds/inc-explos-secteurs}{env})]
[(#INCLURE{fond=fonds/inc-explos-couleurs}{env})]
</ul>
<p class="boutons">
<input type="submit" name="_cfg_ok" class="submit" value="<:cfg:OK:>" />
</p>

</div></form>
</div>
