<BOUCLE_art(ARTICLES){id_article}>
<div class="cal">
	<div class="hobbes">
		<h2>#TITRE</h2>
		[<div class="cadre-message">
			<h3><:explos_leondit:info_rumeur:></h3>
			(#CHAPO)
		</div>]
		[<div class="cadre-message">
			<h3><:explos_leondit:info_dementi:></h3>
			(#TEXTE)
		</div>]
		[<div class="cadre-message">
			<h3><:explos_leondit:info_sources:></h3>
			(#PS)
		</div>]
	</div><!-- .hobbes -->
</div><!-- .cal -->

<div class="vin">
	<B_meilleure_reponse>
	<div class="gromit meilleure_reponse">
		<h2><:explos_leondit:meilleure_reponse:></h2>
		<BOUCLE_meilleure_reponse(FORUMS){notation nombre_votes>0}{!par moyenne}{0,1}{id_article}>
		[(#NOM|oui)<strong>Réponse de #NOM</strong>]
		[(#NOM|non)<strong>Réponse anonyme</strong>]
		#TEXTE
		</BOUCLE_meilleure_reponse>
	</div>
	</B_meilleure_reponse>
	<div class="hobbes ajax">
		[(#FORMULAIRE_ECRIRE_UN_MESSAGE{#ID_ARTICLE,
			[(#ARRAY{
				label,<:explos_leondit:je_propose_un_dementi:>,
				message,<:explos_leondit:reponse:>,
				bouton,<:explos_leondit:soumettre_reponse:>,
				ok,<:explos_leondit:reponse_soumise:>
			})]})]
	</div><!-- .ajax -->
</div><!-- .vin -->
<br class="nettoyeur" />

<div class="wal">
	<div class="gromit">
			<B_reponses>
			<h2><:explos_leondit:reponses_proposees:></h2>
			<ul class="liste">
			<BOUCLE_reponses(FORUMS){id_article}{plat}{par date}>#SET{scientifique,non}
			<BOUCLE_groupes(GRAPPES){titre='Scientifiques'}{id_auteur}>#SET{scientifique,oui}</BOUCLE_groupes>
				<li[(#GET{scientifique}|!={non}|oui) class="exposer"]>
					[(#CONFIG{explos/leondit/noter_messages}|=={oui}|oui)
					#FORMULAIRE_NOTATION]
					[(#NOM|oui)<strong>Réponse de #NOM</strong>]
					[(#GET{scientifique}|!={non}|oui)<em class="grappe"><:explos_leondit:reponse_scientifique:></em>]
					[(#NOM|non)<strong>Réponse anonyme</strong>]
					#TEXTE
				</li>
			</BOUCLE_reponses>
			</ul>
			</B_reponses>
	</div>
</div>
<br class="nettoyeur" />

</BOUCLE_art>
