<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{leondit}">
		[<img src="(#CHEMIN{logos/leon-dit-transparent.png})" alt="<:explos_leondit:leondit:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong><:explos_leondit:leondit:></strong> <:explos:explorateurs:>
		</span>
		<span class="logo-description">
			Il para&icirc;t que
		</span>
	</a>
</div><!-- #entete-logo -->
