
<div class="nav nav-questions">
	<h3>Les derniers l&eacute;on dit</h3>
	<ul>
	<BOUCLE_p(ARTICLES){id_secteur=#ENV{secteur_module}}{age>=0}{!par date}{pagination 10}>
		<li>[(#EXPOSE{'',<a href="#URL_ARTICLE" title="[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]">})]#TITRE#EXPOSE{'',</a>}</li>
	</BOUCLE_p>
		[<p class="pagination">(#PAGINATION)</p>]
	</B_p>
	</ul>
</div><!-- .nav -->



<div class="nav nav-soumettre nav-liste-actions">
	<a href="#URL_PAGE{soumettre_leondit}">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Sousmettre un l&eacute;on dit})]
	<strong>Soumettre un L&eacute;on dit</strong>
	</a>
</div><!-- .nav -->


<INCLURE{fond=defaut/inc-nav-login}{module} />
