<div id="calendar">
	<h3>Calendrier</h3>
	<table summary="Calendrier">
		<caption>[
			<a
				href="(#SELF|parametre_url{date,[(#ENV{date}|Agenda_moisdecal{-1,'Y-m'})]})"
				title="[(#ENV{date}|Agenda_moisdecal{-1,'Y-m'}|affdate_mois_annee)]" class="ajax">&#171;</a>][
			(#ENV{date}|affdate_mois_annee)][
			<a
				href="(#SELF|parametre_url{date,[(#ENV{date}|Agenda_moisdecal{1,'Y-m'})]})"
				title="[(#ENV{date}|Agenda_moisdecal{1,'Y-m'}|affdate_mois_annee)]" class="ajax">&#187;</a>]
		</caption>
		<thead>
			<tr>
				<th scope="col"><abbr title="<:date_jour_2:>"><:date_jour_2|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_3:>"><:date_jour_3|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_4:>"><:date_jour_4|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_5:>"><:date_jour_5|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_6:>"><:date_jour_6|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_7:>"><:date_jour_7|spip_substr{0,1}|strtoupper:></abbr></th>
				<th scope="col"><abbr title="<:date_jour_1:>"><:date_jour_1|spip_substr{0,1}|strtoupper:></abbr></th>
			</tr>
		</thead>
		<tbody><BOUCLE_calendrier(EVENEMENTS)
			{id_article?}{id_secteur=#ENV{secteur_module}}
			{agendafull date_debut, date_fin, mois, (#ENV{date}|annee), (#ENV{date}|mois)}>[
			(#DATE_DEBUT|Agenda_memo_full{#DATE_FIN,[(#TITRE|addslashes)],
				#DESCRIPTIF,#LIEU,
				[(#URL_PAGE{recherche_event}|parametre_url{date,[(#DATE_DEBUT|affdate{'Y-m-d'})]})]})
			]</BOUCLE_calendrier>[
			(#ENV{date}|agenda_mini)
			]</tbody>
	</table>
	<span>&nbsp;</span>
</div>
