[(#SET{width,#ENV{width,100%}})]
[(#SET{height,#ENV{height,400px}})]
[(#SET{id_article,#ENV{id_article}})]
[(#SET{id_carte_gis,#ENV{id_carte_gis,1}})]
<BOUCLE_rub(ARTICLES){id_article=#ENV{id_article}}>
[(#SET{rub2,#ID_RUBRIQUE})]
</BOUCLE_rub>
[(#ENV{id_secteur}|?{'',' '})
	[(#SET{id_rubrique,#ENV{id_rubrique,#GET{rub2}}})]
]
<script type="text/javascript">
	if (document.namespaces) { // only needed in IE
		document.namespaces.add("v", "urn:schemas-microsoft-com:vml");
	}
	//<![CDATA[
	URLbase = "[(#EVAL{_DIR_PLUGIN_GEOMAP}|url_absolue)]";
	var map[(#GET{id_carte_gis})];
	var markerManager[(#GET{id_carte_gis})];
	<BOUCLE_centrado(GIS){id_article?}{id_rubrique ?}{0,1}>
	#SET{latitude,#ENV{latit,#CONFIG**{gis_default_lat,0}}}
	#SET{lonxitude,#ENV{lonxit,#CONFIG**{gis_default_lonx,0}}}
	#SET{zoommapa, #ENV{zoom,#CONFIG**{gis_default_zoom,0}}
	</BOUCLE_centrado>
	#SET{latitude,#ENV{latit,#CONFIG**{gis_default_lat,0}}}
	#SET{lonxitude,#ENV{lonxit,#CONFIG**{gis_default_lonx,0}}}
	#SET{zoommapa, #ENV{zoom,#CONFIG**{gis_default_zoom,0}}
	<//B_centrado>
	[(#SET{control,#ENV{control,'small'}})]
	[(#ENV{type}|=={'satellite'}|?{#SET{type,G_SATELLITE_MAP},''})]
	[(#ENV{type}|=={'carte'}|?{#SET{type,G_NORMAL_MAP},''})]
	[(#ENV{type}|=={'hybride'}|?{#SET{type,G_HYBRID_MAP},''})]
	[(#ENV{type}|=={''}|?{#SET{type,G_SATELLITE_MAP},''})]
	
	function load[(#GET{id_carte_gis})]() {
		if (GBrowserIsCompatible()) {
			// facelo mapa
			map[(#GET{id_carte_gis})] = new GMap2(document.getElementById("map[(#GET{id_carte_gis})]"));
			[(#GET{control}|=={'small'}|?{map[(#GET{id_carte_gis})].addControl(new GSmallMapControl());})]
			[(#GET{control}|=={'small'}|?{' '})
				[(#ENV{control_type}|!={'non'}|?{' '})
				map[(#GET{id_carte_gis})].addControl(new GMapTypeControl());
				]
			]
			map[(#GET{id_carte_gis})].setCenter(new GLatLng(#GET{latitude}, #GET{lonxitude}), #GET{zoommapa}, #GET{type});
			centermap[(#GET{id_carte_gis})] = map[(#GET{id_carte_gis})].getCenter();
			map[(#GET{id_carte_gis})].enableDoubleClickZoom();
			map[(#GET{id_carte_gis})].enableContinuousZoom();
			//icone perso
			var icone = new GIcon(G_DEFAULT_ICON);
			icone.image = URLbase + "/img_pack/correxir.png";
			markerOptions = { icon:icone };
			// on place le point de l'article sur la carte
			var point = new GLatLng(#GET{latitude}, #GET{lonxitude});
			map[(#GET{id_carte_gis})].addOverlay(new GMarker(point, markerOptions));
   			}
		}
		jQuery(document).ready(function(){
			load[(#GET{id_carte_gis})]();
		})
	//]]>
</script>

<div id="map[(#GET{id_carte_gis})]" class="carte_gis" style="[width: (#GET{width});][height:(#GET{height});]"></div>
