<div class='formulaire_spip formulaire_hypothese ajax' id="formulaire_forum">
[(#REM) pour IE qui sinon se perd dans l'ajax !, ne pas retirer]<br class='bugajaxie' />
[(#REM)
	cette div qui permet a l'ajax de ne pas se viander
	a  cause des 2 formulaires sur la meme page
]<div>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class='reponse_formulaire reponse_formulaire_erreur'>(#ENV*{message_erreur})</p>]

[(#ENV{editable})
	[<form action="#ENV{action}" method="post" class="noajax"><div>
	[(#ACTION_FORMULAIRE{#ENV{url_post}})]
	[<input type="hidden" name="arg" value="(#ENV{arg})" />]
	[<input type="hidden" name="hash" value="(#ENV{hash})" />]
	[<input type="hidden" name="verif_(#ENV{hash})" value="ok" />]
	[<input type="hidden" name="afficher_texte" value="(#ENV{afficher_texte})" />]
	[<input type="hidden" name="retour_forum" value="(#ENV*{retour_forum})" />]
	<input type='hidden' name='texte' value="#ENV{texte}" />
	[<input type="hidden" name="id_forum" value="(#ENV*{id_forum})" />]
	(#ENV*{erreurs}|table_valeur{previsu})
	</div></form>]
]


[(#ENV{editable})

<form action="#ENV{url}" method="post"><div>
[(#ACTION_FORMULAIRE{#ENV{url_post}})]
[<input type="hidden" name="arg" value="(#ENV{arg})" />]
[<input type="hidden" name="hash" value="(#ENV{hash})" />]
[<input type="hidden" name="verif_(#ENV{hash})" value="ok" />]
[<input type="hidden" name="afficher_texte" value="(#ENV{afficher_texte})" />]
[<input type="hidden" name="retour_forum" value="(#ENV*{retour_forum})" />]
[<input type="hidden" name="id_forum" value="(#ENV*{id_forum})" />]


<ul>
<li class='saisie_texte[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]'>
	<label for='texte'>[(#ENV{_label})]</label>
	[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>]
	<textarea name='texte' id='texte' rows='6' cols='30'>[(#ENV{texte})]</textarea>
</li>
</ul>

[(#SESSION{auth}|non)
<ul>
<li>
	<label><:forum_qui_etes_vous:></label>
	<input type="text" class="text" name="session_nom" value="[(#SESSION**{nom}|sinon{#SESSION**{session_nom}}|entites_html)]" />
</li>
</ul>
]



	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;"><label for="nobot"><:antispam_champ_vide:></label>
	<input type="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" /></p>

	<p class="boutons"><input type="submit" value="<:previsualiser:>" /></p>
</div>
</form>

[(#REM)
	Sauver les donnees du formulaire dans un cookie, si on quitte la page,
	et les remettre quand on revient (dans les limites de 4ko etc)
]
<script type="text/javascript">/*<!#EVAL{chr(91)}CDATA#EVAL{chr(91)}*/
if (window.jQuery)(function($){
	$.getScript('[(#CHEMIN{javascript/jquery.cookie.js}|url_absolue)]',
	function(){
		var a = $.cookie('spip_contenu_formulaire_#ENV{_sign}');
		var saveauto = true;
		if (a) {
			$('#formulaire_forum textarea#EVAL{chr(91)}name=texte#EVAL{chr(93)}')
			.val(a);
			$.cookie('spip_contenu_formulaire_#ENV{_sign}', null);
		}
		$('#formulaire_forum form')
		.bind('submit', function() {
			saveauto = false;
		});
		$(window)
		.bind('unload', function(){
			if (saveauto)
			$.cookie('spip_contenu_formulaire_#ENV{_sign}',
				$('#formulaire_forum textarea#EVAL{chr(91)}name=texte#EVAL{chr(93)}').val()
			);
		});
	});
}(jQuery));
/*#EVAL{chr(93)}[(#EVAL{chr(93)})]>*/</script>
]
</div>
</div>
