<div class="formulaire_spip formulaire_editer formulaire_editer_auteur formulaire_editer_auteur-#ENV{id_auteur,nouveau}">
	<!-- <br class='bugajaxie' /> -->
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur}) <:info_recommencer:></p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
	  <input type='hidden' name='id_auteur' value='#ENV{id_auteur}' />
	  [<input type='hidden' name='lier_id_article' value='(#ENV{lier_id_article})' />]
	  [<input type='hidden' name='redirect' value='(#ENV**{redirect})' />]
	  <ul>
	    <li class="editer_nom obligatoire[ (#ENV**{erreurs}|table_valeur{nom}|oui)erreur]">
				<label for="nom"><:titre_cadre_signature_obligatoire:></label>[
				<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom})</span>
				]<p class='explication'><:entree_nom_pseudo:></p>
				<input type='text' class='text' name='nom' id='nom' value="[(#ENV**{nom,#VAL{ecrire:item_nouvel_auteur}|_T})]"
				[(#ENV{nom,''}|?{'',' '})onfocus="if(!antifocus){this.value='';antifocus=true;}"]/>
	    </li>
	    [(#REM)
	    	Modification de l'email
			ou message disant que seuls les admins peuvent le modifier
		]
		#SET{disable,''}
		[(#AUTORISER{modifier,auteur,#ENV{id_auteur},#NULL,#ARRAY{email,?}}|non)
		  #SET{disable,disabled='disabled'}
		]
	    <li class="editer_email[ (#ENV**{erreurs}|table_valeur{email}|oui)erreur]">
				<label for="email"><:entree_adresse_email:></label>[
				<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{email})</span>
				][(#GET{disable}|oui)<p class='explication'><:info_reserve_admin:></p>
				]<input type='text' class='text[ (#GET{disable}|oui)disabled]' name='email' id='email' value="[(#ENV**{email})]" #GET{disable}/>
	    </li>
	    <li class="editer_bio[ (#ENV**{erreurs}|table_valeur{bio}|oui)erreur]">
				<label for="bio"><:entree_infos_perso:></label>[
				<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{bio})</span>
				]<p class="explication"><:entree_biographie:></p>
				<textarea name='bio' id='bio' rows='4' cols='40'>[(#ENV**{bio})]</textarea>
	    </li>	  
	    [(#REM)
	    	Site ouaib : nom et url
		]		
		[<li class='editer_statut'>(#ENV**{config}|table_valeur{auteur}|instituer_profil_ici)</li>]
	  	<li class='editer_liens_sites fieldset'>
			<fieldset>
			<h3 class="legend"><:info_site_web:></h3>
			<ul>
				<li class="editer_nom_site[ (#ENV**{erreurs}|table_valeur{nom_site_auteur}|oui)erreur]">
					<label for="nom_site_auteur"><:entree_nom_site:></label>[
					<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom_site_auteur})</span>
					]<input type='text' class='text' name='nom_site_auteur' id='nom_site_auteur' value="[(#ENV**{nom_site})]" />
				</li>
				<li class="editer_url_site[ (#ENV**{erreurs}|table_valeur{url_site}|oui)erreur]">
						<label for="url_site"><:entree_url:></label>[
						<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{url_site})</span>
						]<input type='text' class='text' name='url_site' id='url_site' value="[(#ENV**{url_site})]" />
				</li>
			</ul>
			</fieldset>
	    </li>

	    [(#REM)
			Identifiants (nom, passe)
		]
		
		[(#REM) accessibles seulement aux admins non restreints et l'auteur lui-meme ]
		#SET{ok,0}
		[(#SET{connecte,[(#SESSION{id_auteur}|=={#ENV{id_auteur}}|oui)]})]
		[(#ENV{source}|!={spip}|et{#VAL|spip_connect_ldap})
				#SET{edit_login,0}
				#SET{edit_pass,0}
				#SET{ok,1}
		]
		[(#GET{ok}|non)
			[(#AUTORISER{modifier,auteur,#ENV{id_auteur},#NULL,#ARRAY{restreintes,1}})
				#SET{edit_login,1}
				#SET{edit_pass,1}
				#SET{ok,1}
			]
		]
		[(#GET{ok}|non)
			[(#GET{connecte})
				#SET{edit_login,0}
				#SET{edit_pass,1}
				#SET{ok,1}
			]
		]
		[(#GET{ok}|non)
				#SET{edit_login,0}
				#SET{edit_pass,0}
				#SET{ok,1}
		]
		<li class='editer_identification fieldset'>
			<fieldset>
				<h3 class="legend"><:entree_identifiants_connexion:></h3>
				[(#REM) Avertissement en cas de modifs de ses propres donnees ]
				[(#GET{edit_login}|or{#GET{edit_pass}}|and{#GET{connecte}}|oui)
					<em class='attention'><:texte_login_precaution:></em>
				]
				<ul>
				[(#REM) Un redacteur n'a pas le droit de modifier son login ! ]
				<li class='editer_new_login[ (#ENV**{erreurs}|table_valeur{login}|oui)erreur]'>
					[(#GET{edit_login}|oui)
							<label for='new_login'><:item_login:></label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{login})</span>
							]<p class='explication'>(<:texte_plus_trois_car:>)</p>
							<input autocomplete="off" type='text' class='text' name='new_login' id='new_login' value="[(#ENV**{login})]" />
					]
					[(#GET{edit_login}|non)
							<label for='login'><:item_login:>
							</label><p class='explication'>(<:info_non_modifiable:>)</p>
							<input type='text' class='text' disabled='disabled' name='login' id='login' value="[(#ENV**{login})]" />
					]				
				</li>
				[(#GET{edit_pass}|oui)
					<li class='editer_new_pass[ (#ENV**{erreurs}|table_valeur{new_pass}|oui)erreur]'>
							<label for='new_pass'><:entree_nouveau_passe:></label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{new_pass})</span>
							]<p class='explication'>(<:info_plus_cinq_car:>)</p>
							<input type='password' autocomplete="off" class='password' name='new_pass' id='new_pass' value="" />
					</li>
					<li class='editer_new_pass2'>
							<label for='new_pass2'><:info_confirmer_passe:></label>[
							<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{new_pass2})</span>
							]<input type='password' autocomplete="off" class='password' name='new_pass2' id='new_pass2' value="" />
					</li>			
				]
				</ul>			
			</fieldset>
		</li>
	  </ul>
	  <input type='hidden' name='imessage' value='#ENV{perso_activer_imessage}' />
	  [<input type='hidden' name='pgp' value='(#ENV**{pgp}|attribut_html)' />]

	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]

</div>
