<fieldset class="previsu">
<legend><:previsualisation:></legend>

	<div class="cadre-message">
		[<strong>[(#ENV{message}) ]de (#SESSION{session_nom}|safehtml|sinon{[(#SESSION{nom}|typo)]})</strong>]
		[<strong>[(#ENV{message}) ]anonyme (#SESSION{session_nom}|safehtml|sinon{[(#SESSION{nom}|typo)]}|non)</strong>]
		[(#ENV*{texte}|lignes_longues)]
	</div>
	[<div class="reponse_formulaire">(#ENV*{erreur})</div>]

[<p class="boutons">
	<input type="submit" name="confirmer_previsu_forum" class="submit" value="(#ENV*{bouton})" />
</p>]
</fieldset>

<br class="nettoyeur" />
