<div class="formulaire_spip formulaire_editer formulaire_publier_article formulaire_editer_article-#ENV{id_article,nouveau}">
	<!-- <br class='bugajaxie' /> -->
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
	  <input type='hidden' name='id_article' value='#ENV{id_article}' />
	  <ul>
	  
	    <li class="editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
	    	<label for="titre">[(#ENV{_label_titre})]</label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>]
			<input type='text' class='text' name='titre' id='titre' value="[(#ENV**{titre,#ENV{_value_titre}})]"
			[(#ENV{titre,''}|?{'',' '})onfocus="if(!antifocus){this.value='';antifocus=true;}"]/>
	    </li>
	    		
		<input type='hidden' name='id_parent' value='#ENV{id_rubrique}' />

	  	[(#ENV**{config}|table_valeur{articles_texte}|=={non}|?{#ENV**{texte,''},' '}|oui)
	    <li class="editer_texte[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
			<label for="text_area">[(#ENV{_label_texte})]</label>
			[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>]
			[(#ENV**{_texte_trop_long,''})]
			<textarea name='texte' id='text_area' class='barre_inserer' rows='8' cols='40'[
			(#ENV**{_browser_caret,''})]>[(#ENV**{texte})]</textarea>
	    </li>]
	    
	  </ul>

	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input type='submit' class='submit' value='[(#ENV{_bouton})]' /></p>
	</div></form>
	]
</div>
