<div id="entete-recherche">
<form action="[(#URL_PAGE{resultats_forum})]" method="post"><div>
	<label for="chp_recherche">Rechercher</label>
	<input type="text" class="text" id="chp_recherche" name="recherche" value="#ENV{recherche}" />
	<input type="hidden" name="page" value="recherche" />
	<label for="id_article">Restreindre au forum</label>
	<B_forum>
		<select class="forml" name="id_article" id="id_article">
			<option value="0"><:spipbb:tous_forums:></option>
			<BOUCLE_forum(ARTICLES){branche}{par num titre}>
				<option value="#ID_ARTICLE">[(#TITRE|supprimer_numero|couper{20})]</option>
			</BOUCLE_forum>
		</select>
	</B_forum>
	<input type="hidden" value="#ENV{id_rubrique}" name="id_rubrique" />
	<input type="submit" class="submit" value="Rechercher" />
</div></form>
</div>
