<div id="entete-contenu">
<!-- symboles l'un sur l'autre ou numero de photo mystere -->
<div class="entete-symboles">[(#DATE|affdate{d})]<hr />[(#DATE|affdate{m})]<small>[(#DATE|annee)]</small></div>
<!-- titre et desriptif -->                                          
<h1><:explos_forum:titre_forum:></h1>
<p><:explos_forum:description_forum:></p>
</div><!-- #entete-contenu -->
[(#REM) ligne form recherche dans forum ]
[(#MODELE{recherche_forum}{id_rubrique})]
