<!--
	le logo contient l'image, suivi du titre et d'une description courte
-->
<div id="entete-logo">
	<a href="#URL_PAGE{forum}">
		[<img src="(#CHEMIN{logos/forum-transparent.png})" alt="<:explos_forum:titre_forum:>" width="120" height="60" />]
		<span class="logo-titre">
			<strong>Forum</strong> <:explos:explorateurs:>
		</span>
		<span class="logo-description">
			Débat sciences et société
		</span>
	</a>
</div><!-- #entete-logo -->
