<div class="nav nav-forum nav-liste-actions">
	<a href="[(#URL_PAGE{derniers_messages}|parametre_url{id_rubrique,#ENV{secteur_module}})]">
		[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Derniers messages})]
		<strong><:explos_forum:derniers_messages:></strong>
	</a>


[(#SESSION{id_auteur}|oui)
	<a href="[(#URL_PAGE{profile,id_rubrique=#ENV{secteur_module}}|parametre_url{id_auteur,#SESSION{id_auteur}})]">
		[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,Modifier votre profil})]
		<strong><:spipbb:profil:></strong>
	</a>]

	<a href="[(#URL_PAGE{membres_liste}|parametre_url{id_rubrique,#ENV{secteur_module}})]">
		[(#CHEMIN{pictos/outils/don.png}|image_reduire{60}|inserer_attribut{alt,Liste des membres})]
		<strong><:spipbb:liste_inscrits:></strong>
	</a>
</div>

<INCLURE{fond=defaut/inc-nav-login}{module}{tableau_bord=non} />
