[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|texte_backend)][ - (#VAL{"Annuaire"}|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	[<description>(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)</description>]
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP||image_reduire{150,150}|extraire_attribut{width})</width>]
	</image>
]

<BOUCLE_10recents(SITES){id_secteur}{par date}{inverse}{0,10}>
	<item[ xml:lang="(#LANG)"]>
		<title>[(#NOM_SITE|supprimer_numero|texte_backend)]</title>
		<link>[(#ID_RUBRIQUE|generer_url_entite{rubrique,'','',#CONNECT}|parametre_url{id_syndic,#ID_SYNDIC}|url_absolue)]</link>
		[<guid isPermaLink="true">(#ID_RUBRIQUE|generer_url_entite{rubrique,'','',#CONNECT}|parametre_url{id_syndic,#ID_SYNDIC}|url_absolue)</guid>]
		[<dc:date>(#DATE|date_iso)</dc:date>]
		<dc:format>text/html</dc:format>
		[<dc:language>(#LANG)</dc:language>]

[(#REM)	Le bloc qui suit diffuse la rubrique a la mode RSS]

<BOUCLE_rubrique_rss(RUBRIQUES){id_rubrique}>[<category[ domain="(#URL_RUBRIQUE|url_absolue)"]>(#TITRE|supprimer_numero|texte_backend)</category>]</BOUCLE_rubrique_rss>

		<description>[(#DESCRIPTIF|texte_backend)]

[(#REM)	Le bloc qui suit diffuse la rubrique sous forme de "microformats"]

<BOUCLE_rubrique_mf(RUBRIQUES){id_rubrique}>
[&lt;a href="[(#URL_RUBRIQUE|url_absolue)]" rel="directory"&gt;(#TITRE|supprimer_numero|texte_backend)&lt;/a&gt;]
</BOUCLE_rubrique_mf>

		</description>

		<content:encoded>
		[(#LOGO_SITE|right||image_reduire{150,150}|texte_backend)]
		[&lt;div class='rss_texte'&gt;(#DESCRIPTIF|image_reduire{500,0}|texte_backend)&lt;/div&gt;]
		</content:encoded>
	</item>
</BOUCLE_10recents>


</channel>

</rss>