#SET{module,#ENV{module,defaut}}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
	'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="#LANG" lang="#LANG" dir="#LANG_DIR">

<head>
	<title>Charte graphique - ][(#NOM_SITE_SPIP|textebrut)]</title>
	<INCLURE{fond=inc-head}{module} />
</head>
<body class="module_[(#GET{module}) ]page_charte">
<div id="page">


	<!-- sur entete -->
	
	<div id="sur-entete">
	<INCLURE{fond=inc-retour-portail} />
	</div><!-- #sur_entete -->
	
	
	<!-- entete -->
	
	
	<div id="entete">
	<INCLURE{fond=(#GET{module})/inc-logo}{module} />
		<div id="entete-contenu">
			<!-- titre et desriptif -->                                          
			<h1>#NOM_SITE_SPIP</h1>
		</div><!-- #entete-contenu -->
	</div><!-- #entete -->
	
	
	<div id="conteneur">
		
		
		<!-- contenu -->
		
		
			<div id="contenu">
[(#VAL{"
{{{Navigation}}}
Dans la navigation, on peut rencontrer des div ayant une classe :
-* nav
-* nav-liste-actions
-* nav-liste-photos
-* nav-nom-specifique

{{{Contenu}}}
Dans le contenu, on peut rencontrer des div ayant une classe :
-* calvin, kel, vin / hobbes
-* wallace, wal, lace / gromit

On peut rencontrer des <code><br class='nettoyeur' /></code>
"}|propre)]

	<h2>Titre h2 a l'exterieur d'une colonne</h2>
	<div class="calvin">
	<div class="hobbes">
		<h2>Titre h2 dans une colonne .calvin .hobbes</h2>
		<h2 class="lege">Titre h2.lege dans une colonne .calvin .hobbes</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="hobbes">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	<div class="hobbes lege">
		<h2>Une div.hobbes .lege pour avoir une liste sans fond</h2>
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>
	
	<div class="cal">
	<div class="hobbes">
		<h2>Titre h2 dans une colonne .cal .hobbes</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="hobbes">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>	
	
	<div class="vin">
	<div class="hobbes">
		<h2>Titre h2 dans une colonne .vin .hobbes</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="hobbes">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>	
	
	<br class="nettoyeur" />
	
	<div class="cal">
	<h2>h2 dans .cal</h2>
	<div class="hobbes">
		<h2>Titre h2 dans une colonne .cal .hobbes</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="hobbes">
		<h2>Titre h2 dans une colonne .cal .hobbes</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>	
	</div>
	
	<br class="nettoyeur" />	
	<h2>Titre h2 a l'exterieur d'une colonne</h2>
	<div class="wallace">
	<div class="gromit">
		<h2>Titre h2 dans une colonne .wallace .gromit</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="gromit">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>
	
	<div class="wal">
	<div class="gromit">
		<h2>Titre h2 dans une colonne .wal .gromit</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="gromit">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>	
	
	<div class="lace">
	<div class="gromit">
		<h2>Titre h2 dans une colonne .lace .gromit</h2>
		<h3>Titre h3</h3>
		<p>
		Paragraphe avec un lien <a href="#interne">interne</a> 
		et un lien <a href="#externe" class="spip_out">externe</a>.
		Rien de plus à dire dessus !
		</p>
	</div>
	<div class="gromit">
		<ul class="liste">
			<li>
				<h3>Un titre h3 dans une liste</h3>
				<p>un élément de liste</p>
			</li>
			<li>
				<h3><a href="#">Un titre h3 avec un lien dans une liste</a></h3>
				<p>un élément de liste</p>
			</li>
			<li>un élément de liste avec <a href="#">un lien</a></li>
			<li>un élément de liste</li>
		</ul>
	</div>
	</div>		
	
	<br class="nettoyeur" />
	
			</div><!-- #contenu -->
				
		<!-- navigation -->
		
			<div id="navigation">
			
				<div class="nav nav-carnets">
					<h3><:explos_jaifait:derniers_carnets:></h3>
					<B_p>
					<ul>
					<BOUCLE_p(ARTICLES){!par date}{0,10}>
						<li><a href="[(#URL_ARTICLE)]">
							#TITRE <em>([(#DATE|affdate_court)])</em>
						</a></li>
					</BOUCLE_p>
					</ul>
					</B_p>
				</div><!-- .nav -->

				<B_q>
				<div class="nav nav-questions nav-liste-photos">
					<h3><:explos_mystere:photos_precedentes:></h3>
					<ul>
					<BOUCLE_q(ARTICLES){logo}{!par date}{pagination 10}>
						<li>#EXPOSE{'',<a href="#URL_ARTICLE">}[(#LOGO_ARTICLE|||image_passe_partout{60,60}|image_recadre{60,60}|inserer_attribut{title,[(#DATE|nom_jour|ucfirst) ][(#DATE|affdate)]})]#EXPOSE{'',</a>}</li>
					</BOUCLE_q>
					</ul>
					[<p class="pagination">(#PAGINATION)</p>]
				</div><!-- .nav -->
				</B_q>

				<B_mes_carnets>
				<div class="nav nav-mes-carnets">
				<h3><:explos_jaifait:carnets_en_redaction:></h3>
				<ul>
				<BOUCLE_mes_carnets(ARTICLES){id_auteur=#SESSION{id_auteur}}{!par date}{pagination 10}{statut=prepa}>
						<li><a href="[(#URL_PAGE{soumettre_carnet}|parametre_url{carnet,#ID_ARTICLE})]">
							#TITRE <em>([(#DATE|affdate_court)])</em>
						</a></li>
				</BOUCLE_mes_carnets>
				</ul>
				</div>
				</B_mes_carnets>


				[(#SESSION{id_auteur}|oui)
				<div class="nav nav-soumettre nav-liste-actions">
					<a href="#URL_PAGE{soumettre_carnet}">
					[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos_jaifait:soumettre_un_carnet:>})]
					<strong><:explos_jaifait:soumettre_un_carnet:></strong>
					</a>
				</div><!-- .nav -->
				]

				[(#INCLURE{fond=[(#GET{module})]/inc-navigation}{ajax}{env}{id_auteur} )]
			</div><!-- #navigation -->
			
	</div><!-- #conteneur -->		
		
	<!-- pied -->
	
	
	<div id="pied"></div><!-- #pied -->	
</body>
</html>
