<div id="entete-recherche">
	<form method="get" action="#URL_PAGE{recherche}" ><div>
	<label for="chp_recherche">Rechercher</label>
	<input type="text" class="text" id="chp_recherche" name="recherche" value="#ENV{recherche}" />
	<input type="hidden" name="page" value="recherche" />
	[<input type="hidden" name="id_secteur" value="(#ENV{secteur_module})" />]
	[<input type="hidden" name="label_articles" value="(#ENV{label_articles})" />]
	[<input type="hidden" name="label_rubriques" value="(#ENV{label_rubriques})" />]
	[<input type="hidden" name="label_sites" value="(#ENV{label_sites})" />]
	[<input type="hidden" name="label_messages" value="(#ENV{label_messages})" />]
	<input type="submit" class="submit" value="Rechercher" />
	</div></form>
</div><!-- #entete-recherche -->
