<B_articles>
<div class="#ENV{colonne,calvin}">
	<div class="hobbes">
		<div class="articles">
			#ANCRE_PAGINATION
			<h2>[(#ENV{label,<:articles:>})] (#GRAND_TOTAL)</h2>
			<ul>
				<BOUCLE_articles(ARTICLES) {id_secteur?} {recherche} {par points}{inverse} {pagination}>
				<li><a href="#URL_ARTICLE">#TITRE</a></li>
				</BOUCLE_articles>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
	</div>
</div>
</B_articles>
