[(#REM) Messages trouves ]
<B_messages>
<div class="#ENV{colonne,calvin}">
	<div class="hobbes">
		<div class="messages">
			#ANCRE_PAGINATION
			<h2>[(#ENV{label,<:messages_forum:>})] (#GRAND_TOTAL)</h2>
			<ul>
				<BOUCLE_messages(FORUMS) {id_secteur?} {recherche} {par points}{inverse} {pagination 5}>
				<li><a href="#URL_FORUM"[ title="(#TITRE|attribut_html|couper{80})"]>[(#TEXTE|couper{80})]</a></li>
				</BOUCLE_messages>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
	</div>
</div>
</B_messages>
