<B_documents_joints>
<div class="documents_joints mini_documents">
	<h2><:titre_documents_joints:></h2>
	<ul>
		<BOUCLE_documents_joints(DOCUMENTS) {id_article?}{id_rubrique?}{par num titre, date}>
		<li>
			[(#SET{auth,[(#AUTORISER{modifier,document,#ID_DOCUMENT})]})]
			[<div class="spip_logos">
				[(#GET{auth})<a class="nyroceros" href="[(#URL_PAGE{editer_document}|parametre_url{id_document,#ID_DOCUMENT})]">]
				(#LOGO_DOCUMENT||image_reduire{40})
				[(#GET{auth})</a>]
			</div>]
			[<div class="titre">(#TITRE)</div>]
			[(#GET{auth})<div class="editer">
				<a class="nyroceros" href="[(#URL_PAGE{editer_document}|parametre_url{id_document,#ID_DOCUMENT})]">
					<:explos:editer:>
				</a>
			</div>]
		</li>
		</BOUCLE_documents_joints>
	</ul>
</div>
</B_documents_joints>
