<B_rubriques>
<div class="#ENV{colonne,calvin}">
	<div class="hobbes">	
		<div class="rubriques">
			#ANCRE_PAGINATION
			<h2>[(#ENV{label,<:rubriques:>})] (#GRAND_TOTAL)</h2>
			<ul>
				<BOUCLE_rubriques(RUBRIQUES) {id_secteur?} {recherche} {par points}{inverse} {pagination 5}>
				<li><a href="#URL_RUBRIQUE">#TITRE</a></li>
				</BOUCLE_rubriques>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
	</div>
</div>	
</B_rubriques>
