<B_messages>
<div class="vin">
	<div class="hobbes">
		<h2>#GRAND_TOTAL[ (#GRAND_TOTAL|>{1}|?{<:messages:>,<:message:>})]</h2>
		#ANCRE_PAGINATION
		<ul>
			<BOUCLE_messages(FORUMS){id_secteur}{plat}{id_auteur}{!par date} {pagination 10}>
			<li><a href="#URL_FORUM">[(#TITRE|sinon{#TEXTE|couper{80}})]</a>[ (<em>(#DATE|affdate_court)</em>)]</li>
			</BOUCLE_messages>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]					
	</div>
</div>
</B_messages>
