<B_sites>
<div class="#ENV{colonne,calvin}">
	<div class="hobbes">
		<div class="sites">
			#ANCRE_PAGINATION
			<h2>[(#ENV{label,<:sites_web:>})] (#GRAND_TOTAL)</h2>
			<ul>
				<BOUCLE_sites(SITES) {id_secteur?} {recherche} {par points}{inverse} {pagination 5}>
				<li><a href="[(#ID_SYNDIC|generer_url_site)]">#NOM_SITE</a></li>
				</BOUCLE_sites>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
	</div>
</div>
</B_sites>
