<B_documents_joints>
<div class="documents_joints">
	<h2><:titre_documents_joints:></h2>
	<ul>
		<BOUCLE_documents_joints(DOCUMENTS) {id_article?}{id_rubrique?}{vu=non}{tout} {par num titre, date}>
		<li>
			[<div class="spip_logos">
				<a href="#URL_DOCUMENT" title="<:bouton_telecharger:>" type="#MIME_TYPE"[ class="(#EDIT{fichier})"]>
				(#LOGO_DOCUMENT||image_reduire{80})
				</a>
			</div>]
			<div class="titre">
				[<a href="#URL_DOCUMENT" title="<:bouton_telecharger:>" type="#MIME_TYPE"[ class="(#EDIT{titre})"]>
					(#TITRE)
				</a>]
				[(#REM) on cache...
					[<small>(<span>(#TYPE_DOCUMENT)[ &ndash; (#TAILLE|taille_en_octets)]</span>)</small>]
				]
			</div>
			[<div class="descriptif"[ class="(#EDIT{descriptif})"]>(#DESCRIPTIF)</div>]
		</li>
		</BOUCLE_documents_joints>
	</ul>
</div>
</B_documents_joints>
