
<script type="text/javascript">
jQuery(document).ready(function(){
	var err = [(#ENV*{message_erreur}|?{true,false})];
	if (!err) {
		jQuery(".nav-login .inscription").hide();
	}
	jQuery(".nav-login a.lien_inscription").click(function(){
		jQuery(".nav-login .inscription").slideToggle();
	});
	jQuery(".nav-login .login").hide();
	jQuery(".nav-login a.lien_login").click(function(){
		jQuery(".nav-login .login").slideToggle();
	});
});
</script>

<div class="nav nav-login nav-liste-actions">
[(#SESSION{id_auteur}|non)
	<a class="lien_inscription" href="#inscription">
	[(#CHEMIN{pictos/outils/s-inscrire.png}|image_reduire{60}|inserer_attribut{alt,<:explos:inscription:>})]
	<strong><:explos:inscription:></strong>
	</a>
	<div class="inscription">
		<div class="ajax">#FORMULAIRE_INSCRIPTION{1comite,#ENV{focus},#ENV{id_rubrique}}</div>
		<div class="ajax">#FORMULAIRE_INSCRIPTION_OPENID{#SELF}</div>
	</div>
	
	<a class="lien_login" href="#login">
	[(#CHEMIN{pictos/outils/login.png}|image_reduire{60}|inserer_attribut{alt,<:explos:login:>})]
	<strong><:explos:login:></strong>
	</a>
	<div class="login">
		<div class="ajax">#FORMULAIRE_LOGIN{#SELF}</div>
	</div>
]
[(#SESSION{id_auteur}|oui)
[<div class="nom_auteur">Connecté : (#SESSION{nom})</div>]
	[(#ENV{tableau_bord}|!={non}|oui)
	<a href="[(#URL_AUTEUR{#SESSION{id_auteur}})]">
	[(#CHEMIN{pictos/outils/poster.png}|image_reduire{60}|inserer_attribut{alt,<:explos:tableau_de_bord:>})]
	<strong><:explos:tableau_de_bord:></strong>
	</a>]
	<a href="#URL_LOGOUT">
	[(#CHEMIN{pictos/outils/login.png}|image_reduire{60}|inserer_attribut{alt,D&eacute;connexion})]
	<strong><:icone_deconnecter:></strong>
	</a>
]
	<a href="[(#URL_PAGE{aide}|parametre_url{module,#ENV{module}})]" class="nyroceros">
	[(#CHEMIN{pictos/outils/aide.png}|image_reduire{60}|inserer_attribut{alt,Aide})]
	<strong><:explos:aide:></strong>
	</a>
</div><!-- .nav -->
