<B_documents>
<div class="#ENV{colonne,calvin}">
	<div class="hobbes">
		<div class="documents">
			#ANCRE_PAGINATION
			<h2>[(#ENV{label,<:info_documents:>})] (#GRAND_TOTAL)</h2>
			<ul>
				<BOUCLE_documents(DOCUMENTS) {articles.id_secteur} {recherche} {par points}{inverse} {pagination 5}>
					<BOUCLE_art(ARTICLES){id_document}>
						<li><a href="[(#URL_ARTICLE)]">#_documents:TITRE</a></li>
					</BOUCLE_art>
				</BOUCLE_documents>
			</ul>
			[<p class="pagination">(#PAGINATION)</p>]
		</div>
	</div>
</div>
</B_documents>
