<B_articles>
<div class="cal">
	<div class="hobbes">
		<h2>#GRAND_TOTAL[ (#GRAND_TOTAL|>{1}|?{<:articles:>,<:article:>})]</h2>
		#ANCRE_PAGINATION
		<ul>
			<BOUCLE_articles(ARTICLES){id_secteur}{id_auteur}{!par date} {pagination 10}>
			<li><a href="#URL_ARTICLE">#TITRE</a>[ (<em>(#DATE|affdate_court)</em>)]</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]					
	</div>
</div>
</B_articles>
