<div class="mot_doux">
	<h2><:explos:pas_logue:></h2>
	<BOUCLE_art(ARTICLES){id_rubrique = #CONFIG{explos/portail/secteur_mots_doux}}{titre = mot-doux-#ENV{module}}{0,1}>
	#TEXTE
	</BOUCLE_art>
</div><!-- .mot_doux -->
